.btn{
	.transition(0.2s);
	.fp;
	margin: 0;
	padding: 0 18px;
	border : 0;
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @color_link;
	&:hover{
		color: #fff;
		background: darken(@color_link,10%);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			color: #fff;
			background: darken(@color_link,10%);
		}
	}
}
.btn-lg {
	.fh;
	font-size: 21px;
	height: 64px;
	line-height: 64px;
	padding: 0 25px;
}
.btn-prev {
	&:before{
		.fi;
		float: left;
		content: '\e83d';
		font-size: 170%;
		margin: 0 0 0 -20%;
	}
}
.btn-next {
	&:before{
		.fi;
		float: right;
		content: '\e83c';
		font-size: 170%;
		margin: 0 -20% 0 0;
	}
}
.btn-default {
	background: #69553d;
	&:hover{
		color: #fff;
		background: darken(#69553d,10%);
	}
}