// fonts

.fp {font-family: 'Open Sans', sans-serif;} // font primary
.fh {font-family: Georgia, Times, 'Times New Roman', serif;} // font header
.fi {font-family: 'fontello',sans-serif;} // font icon

// body
@bb: #ffffff; // body background

// colors

@color1: #4f4f4f;
@color2: #ff0000;
@color3: #000000;
@color4: #efeae3;
@color5: #ffc400;

@color_link: #ff0000; // color link
@color_hover: #ff0000; // color primary

@color_tab1: #4f4f4f;
@color_tab2: #858585;
@color_tab_text: #000000;

// font sizes
@fsp: 16px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 24px; // font size h2
@fsh3: 20px; // font size h3
@fsh4: 16px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

@warning: #b90000;

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.3; // line height primary

// layout
@content-width: 1160px;
@content-padding: 0px 20px;

// media query >>> @media @xs, @sm
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";