body {
	//width: @content-width;
}
.top-menu {
	background: #665f5a url('../images/bg/sh.png') repeat-x center bottom;
	padding: 20px 0px;
	ul {
		.clearfix;
		float: left;
		li {
			position: relative;
			.rli;
			float: left;
			color: #ffffff;
			padding-right: 15px;
			margin-right: 13px;
			a {
				color: #ffffff;
				text-decoration: none;
				font-size: 14px;
				&:hover {
					color: #b3afad;
				}
			}
			span {
				display: block;
				position: absolute;
				right: 0px;
				top: 0px;
			}
		}
		&.lang {
			float: right;
			text-align: right;
			li {
				padding-right: 0px;
				margin-right: 0px;
				padding-left: 10px;
				a {
					color: #b3afad;
					&:hover {
						color: #ffffff;
					}
				}
				&.act {
					a {
						color: #ffffff;
					}
				}
				&.icon-comment {
					color: #b3afad;
					&:before {
						content: '\e805';
						font-size: 22px;
						position: relative;
						top: 1px;
						margin-left: 5px;
					}
				}
			}
		}
	}
}


#col-left {
	float: left;
	width: 270px;
	margin-bottom: 50px;
	ul {
		.clearfix;
		margin-bottom: 50px;
		li {
			margin-bottom: 10px;
			padding-left: 13px;
			&:before{
				top: 4px;
			}
			a {
				font-size: 15px;
				color: @color1;
				position: relative;
			}
			&.act {
				&:before {
					content: '';
					width: 5px;
					background: @color2;
					height: 18px;
					display: inline-block;
					top: 1px;
					position: absolute;
					left: 0px;
				}
				&>a {
					color: @color2;
					text-decoration: none;
					font-weight: 700;
				}
			}
			ul {
				margin: 0px 0px;
				padding: 10px 0px 0px;
				li {
					padding-left: 10px;
					margin-bottom: 2px;
					&:before{
						top: 7px;
						font-size: 10px;
					}
					a {
						color: @color1;
						text-decoration: underline;
						font-weight: 400;
						font-size: 13px;
						&:hover {
							text-decoration: none;
						}
					}
					&.act {
						a {
							color: @color2;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
	.mod_panel {
		position: relative;
		top: 0px;
		margin-bottom: 0px;
		.panel_head {
			border-bottom: 2px solid @color2;
			padding: 5px 0px;
			h2, h3 {
				font-size: 24px;
			}
			span {
				position: absolute;
				top: 0px;
				right: 0px;
				font-size: 36px;
				color: @color3;
			}
			h3 {
				font-size: 21px;
				i {
					display: block;
					color: #69553d;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
				}
			}
		}
		.cnt {
			padding: 30px 0px 0px;
			&.cnt_link {
				padding: 0px 0px 30px;
				a {
					&:hover {
						background: #dad5cf;
						&:before {
							background-color: @color2;
						}
					}
				}
			}
		}
		#mod_newsletter {
			padding: 40px 0px 0px;
			input {
				width: 80%;
			}
		}
	}
}
#col-right {
	float: right;
	width: 820px;
	margin-bottom: 50px;
	.lp {
		float: left;
		width: 440px;
	}
	.rp {
		float: right;
		width: 360px;
	}
	.images {
		.iccer {
			position: relative;
			top: -75px;
			left: 20px;
			margin-bottom: -50px;
		}
	}
	.mod_panel {
		margin-bottom: 20px;
		.panel_head {
			h2 {
				font-size: 24px;
			}
			span {
				top: -5px;
			}
		}
	}
}
.home_content {
	.container {
		margin: 60px auto;
	}
	.home_rightCol {
		float: right;
		width: 360px;
	}
}
.home_bottomContent {
	#mod_fotogallery {
		float: left;
		width: 49%;
		#webkamery{
			a {
				display: inline-block;
				text-decoration: none;
				border: 1px solid #ffffff;
				padding: 1px 1px;
				margin: 2px 2px;
				img {
					display: block;
					margin: 0px 0px;
				}
				&:hover {
					border: 1px solid @color2;
				}
			}
		}
	}
	.mod_panel {
		float: right;
		width: 49%;
	}
	.slide_logo {
		background: #ffffff;
		padding: 20px 60px;
		position: relative;
		margin: 20px 0px;
		img {
			margin: 0px 5px;
		}
		.controls {
			.prev-slide, .next-slide {
				display: block;
				width: 9px;
				height: 52px;
				position: absolute;
				top: 40px;
				.transition(0.5s);
				padding: 0px 10px;
			}

			.prev-slide {
				background: url('../images/bg/a01.png') no-repeat center center;
				left: 12px;
				&:hover {
					left: 7px;
				}
			}
			.next-slide {
				background: url('../images/bg/a02.png') no-repeat center center;
				right: 12px;
				&:hover {
					right: 7px;
				}
			}
		}
	}
}


#page-header {
	background: #ffffff;
	border-bottom: 3px solid @color2;
	padding: 20px 0px;
	.logo {
		float: left;
		width: 330px;
		padding: 10px 0px;
	}
	.h01 {
		padding: 0px 0px;
		float: right;
		width: 620px;
		.p01, .p02 {
			float: left;
			width: 470px;
			position: relative;

			ul {
				.clearfix;
				margin-bottom: 10px;
				li {
					position: relative;
					float: left;
					.rli;
					padding-right: 7px;
					padding-left: 0px;
					a {
						color: @color1;
						margin-right: 7px;
						&:hover {
							color: @color2;
						}
					}
				}
			}

		}
		.p02 {
			float: right;
			width: 105px;
			.lang {
				margin-bottom: 10px;
			}
			.social {
			   a {
					display: block;
					float: right;
					width: 35px;
					height: 35px;
					margin-left: 5px;
					background: @color3;
					text-align: center;
					line-height: 35px;
					text-decoration: none;
					.border-radius(50%);
					&:before {
						color: @color4;
						font-size: 18px;
					}
					&:hover {
						background: @color2;
					}
			   }
			}
		}
		.search {
			width: 100%;
			div {
				background: #ffffff;
				padding: 0px 0px;
				input {
					.input_format;
					width: 422px;
					height: 42px;
				}
				button {
					border: 0px;
					background: 0px;
					float: right;
					height: 40px;
					width: 40px;
					line-height: 40px;
					&:before {
						.fi;
						content: '\e800';
						text-align: center;
						font-size: 24px;
						color: #8c7558;
						.transition(0.5s);
					}
					&:hover {
						&:before {
							color: @color2;
						}
					}
				}
			}
		}
	}
}

#page-footer {
	border-top: 2px solid @color3;
	padding: 30px 0px;
	font-size: 14px;
	p {
		margin-bottom: 10px;
		color: @color3;
	}
	.fl {
		float: left;
		width: 70%;
		.links {
			color: @color2;
		}

	}
	.fr {
		float: right;
		width: 30%;
		text-align: right;
		
		.right {
			display: block;
			text-align: right;
			position: relative;
			text-transform: uppercase;
			a {
				color: #999999;
				font-size: 11px;
				text-decoration: none;
				padding-right: 20px;
				color: @color3;
				&:after {
					content: '';
					display: block;
					background: url('../images/logo/xart.png') no-repeat center center;
					width: 13px;
					height: 13px;
					position: absolute;
					right: 0px;
					top: 3px;
				}
				&:hover {
					color: @color2;
				}
			}
		}
	}
}




#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 52px;
		text-align: center;
		background: @color1;
		border: 1px solid #ffffff;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top: -2px;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80e';
			font-size: 20px;
		}
		&:hover{
			background: @color_hover;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}

table.resTable {
	width: 100%;
	thead {
		border-bottom: 2px solid #dcc8ae;
		th {
			font-size: 15px;
			color: #69553d;
			padding: 20px 10px;
			font-weight: 600;
			position: relative;
		}
	}
	tbody {
		td {
			font-size: 15px;
			color: #69553d;
			padding: 25px 10px;
			font-weight: 600;
			border-bottom: 1px solid #efeae3;
			h3 {
				font-size: 18px;
				color: #69553d;
				margin: 0px 0px 10px;
				text-transform: none;
				font-weight: 400;
			}
			.download {
				position: relative;
				&:before{
					.fi;
					position: absolute;
					top: -2px;
					left: 0;
					text-indent: 0;
					content: '\e816';
					font-size: 20px;
					color: @color2;
				}
				a {
					padding-left: 25px;
				}

			}
		}
	}
	&.officialDesk {
		th {
			padding-left: 20px;
			&:before {
				.fi;
				position: absolute;
				top: 16px;
				left: -3px;
				text-indent: 0;
				font-size: 20px;
				color: #69553d;
				font-weight: 400;
			}
		}
		th.title {
			padding-left: 10px;
			width: 52%;
			&:before {
				display: none;
			}
		}
		th.display {
			width: 12%;;
			&:before {
				content: '\e814';
			}
		}
		th.published_by {
			width: 18%;
			&:before {
				content: '\e81a';
				.flip();
			}
		}
		th.published_in {
			width: 18%;
			&:before {
				content: '\e81a';
			}
		}
		td.title {
			position: relative;
			&:after {
				position: absolute;
				content: '';
				width: 2px;
				top: 20px;
				bottom: 20px;
				right: 0px;
				background: #dcc8ae;
			}
		}

		td.display, td.published_by, td.published_in {
			font-style: italic;
		}
	}
}
































