.border-radius(@n:6px){
	-webkit-border-radius: @n;
	-moz-border-radius: @n;
	-ms-border-radius: @n;
	-o-border-radius: @n;
	border-radius: @n;
}
.border-radius_r(@n:6px){
	-webkit-border-radius: 0px @n @n 0px;
	-moz-border-radius: 0px @n @n 0px;
	-ms-border-radius: 0px @n @n 0px;
	-o-border-radius: 0px @n @n 0px;
	border-radius: 0px @n @n 0px;
}
.border-radius_l(@n:6px){
	-webkit-border-radius: @n 0px 0px @n;
	-moz-border-radius: @n 0px 0px @n;
	-ms-border-radius: @n 0px 0px @n;
	-o-border-radius: @n 0px 0px @n;
	border-radius: @n 0px 0px @n;
}
.box-shadow(@n:0 0 6px #000){
	-webkit-box-shadow: @n;
	-moz-box-shadow: @n;
	-ms-box-shadow: @n;
	-o-box-shadow: @n;
	box-shadow: @n;
}
.rotate(@n:30deg){
	-webkit-transform: rotate(@n);
	-moz-transform: rotate(@n);
	-ms-transform: rotate(@n);
	-o-transform: rotate(@n);
	transform: rotate(@n);
}
.transition(@n:0.2s){
	-webkit-transition:@n;
	-moz-transition:@n;
	-ms-transition:@n; 
	-o-transition:@n;  
	transition:@n;
}
.opacity(@n:0.5){
	-webkit-opacity: @n;
	-moz-opacity: @n;
	-ms-opacity: @n;
	-o-opacity: @n;
	opacity: @n;
	@n100 : @n*100;
	filter:alpha(opacity=@n100);
}
.rotate(@n:30deg){
	-webkit-transform: rotate(@n);
	-moz-transform: rotate(@n);
	-ms-transform: rotate(@n);
	transform: rotate(@n);
}
.flip(@n:scaleX(-1)) {
  -moz-transform: @n;
  -o-transform: @n;     
  -webkit-transform: @n;
  transform: @n;
  filter: FlipH;                 
}
.placeholder(@color) {
	&::-webkit-input-placeholder {
		color: @color;
	}
	&:-moz-placeholder {
		color: @color;
	}
	&::-moz-placeholder {
	  color: @color;
	}
}
