.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 0px 0px 50px;
		padding: 0px 0px 20px 0px;
		position: relative;
		z-index: 1001;
		border-bottom: 1px solid #dcc8ae;
		li {
			float: left;
			margin-right: 20px;
			padding-left: 10px;
			font-size: 14px;
			&:before{
				top: 5px;
				content: '\e80f';
				color: @color1;
				font-size: 10px;
			}
			span {
				color: #69553d;
				font-weight: 700;
				text-transform: uppercase;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					height: 9px;
					background: #dcc8ae;
					width: 100%;
					bottom: -25px;
					left: 0px;
				}
			}
			a {
				color: @color1;
				font-size: 14px;
				&:hover {
					color: @color2;
				}
			}
			&:first-child {
				padding-left: 10px;
				&:before{
					content: '\e80f';
					color: @color1;
				}
			}
		}
	}
}


#mod_slideshow {
	margin: 20px 0px;
	background: url('../images/bg/bg_slide.png') repeat center center;
	.container {
		background: #ffffff;
	}
	.cycle_slider {
		float: left;
		width: 740px;
		padding:0px 0px;
		position: relative;
		.slide {
			width: 740px;
			height: 490px;
			overflow: hidden;
			position: relative;
			white-space: normal !important;
			position: relative !important;
			.cnt {
				background: url('../images/bg/b01.png') repeat center center;
				padding: 30px 60px;
				position: absolute;
				bottom: 0px;
				color: @color4;
				min-height: 80px;
				h3 {
					text-transform: none;
					font-size: 23px;
					font-weight: 700;
					a {
						color: @color4;
						text-decoration: none;
						&:hover {
							color: @color2;
						}
					}
				}
				p {
					position: relative;
					padding: 0px 0px;
					margin: 0px 0px;
				}
			}
		}
		.controls {
			position: absolute;
			width: 100%;
			bottom: 42px;
			z-index: 999;
			height: 48px;
			a.prev, a.next {
				display: block;
				width: 13px;
				height: 48px;
				top: 0px;
				position: absolute;
			}
			a.prev {
				left: 20px;
				background: url('../images/bg/a04.png') no-repeat center center;
				&:hover {
					background: url('../images/bg/a06.png') no-repeat center center;
				}
			}
			a.next {
				right: 20px;
				background: url('../images/bg/a03.png') no-repeat center center;
				&:hover {
					background: url('../images/bg/a05.png') no-repeat center center;
				}
			}
		}
	}

	.section {
		background: #ffffff;
		width: 360px;
		float: right;
		position: relative;
		.item {
			.head {
				border-bottom: 3px solid @color2;
				a {
					display: block;
					height: 85px;
					line-height: 85px;
					font-size: 21px;
					padding-left: 25px;
					.fh;
					text-transform: uppercase;
					font-weight: 700;
					text-decoration: none;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						display: block;
						width: 40px;
						height: 40px;
						background:@color2 url('../images/bg/i10.png') no-repeat center center;
						top: 23px;
						right: 25px;
						.border-radius(50%);
					}
					&:hover {
						background: darken(#fff,3%);
					}
					&.active {
						cursor: default;
						&:hover {
							background: #ffffff;
						}
					}
				}
			}
			.content {
				display: none;
				border-bottom: 1px solid #efe7dc;
				height: 223px;
				overflow: hidden;
				&.active {
					display: block;
				}
				ul {
					.clearfix;
					margin: 20px 15px 0px;
					li {
						position: relative;
						float: left;
						width: 50%;
						.rli;
						margin: 0px 0px 10px;
						font-size: 14px;
						a {
							color: @color1;
						}
					}
					&.special {
						margin: 10px 15px 20px;
						li {
							width: 100%;
							a {
								color: @color2;
							}
							&.icon-flash {
								&:before {
									content: '\e804';
									position: relative;
									top: 4px;
									left: 0px;
									color: @color2;
									font-size: 23px;
									text-align: left;
									margin: 0px 0px 0px 3px;
								}
							}
						}
					}
				}
			}
			&.turista {
				.head {
					border-bottom: 3px solid #bdd600;
					a {
						color: #bdd600;
						&:after {
							background: #bdd600 url('../images/bg/i02.png') no-repeat center center;
						}
					}
				}
			}
			&.podnikatel {
				.head {
				border-bottom: 3px solid @color3;
					a {
						color: @color3;
						&:after {
							background: @color3 url('../images/bg/i11.png') no-repeat center center;
						}
					}
				}
			}
		}
	}
}
#mod_top-menu {
	.container {
		padding-top: 20px;
		background: #ffffff;
	}
	&.subpage {
		.container {
			padding-top: 0px;
		}
	}
	.a_responsive {
		display: none;
	}
	ul {
		.clearfix;
		background: @color2;
		li {
			position: relative;
			float: left;
			.rli;
			margin: 0px 0px;
			a {
				.fh;
				display: table-cell;
				color: #ffffff;
				padding: 0px 29px;
				height: 80px;
				border-right: 1px solid @color4;
				font-size: 15px;
				font-weight: 700;
				text-transform: uppercase;
				text-decoration: none;
				text-align: center;
				vertical-align: middle;
				span {
					line-height: 1.2em;
					em {
						font-style: normal;
						display: block;
					}
				}
				&:hover {
					background: darken(@color2,10%);
				}
			}
			&:last-child {
				a {
					border: 0px;
				}
			}
			&.act {
				a {
					background: darken(@color2,10%);
				}
			}
		}
	}
}

.mtContent {
	margin: 0px 0px 0px;
	width: 740px;
	float: left;
	.header {
		padding: 0px 0px;
		border-bottom: 1px solid #dcc8ae;
		a {
			.fh;
			display: inline-block;
			padding: 15px 40px;
			margin: 0px 0px;
			bottom: 0px;
			position: relative;
			font-size: 21px;
			bottom: -6px;
			color: @color3;
			text-decoration: none;
			.transition(0s);
			z-index: 1;
			background: @color4;
			margin: 0px 5px;
			&:hover {
				background: #dad5cf;
			}
			&.act {
				padding: 20px 40px;
				border: 1px solid #dcc8ae;
				border-bottom: 1px solid #ffffff;
				bottom: -1px;
				background: #ffffff;
				color: @color2;
				margin-left: 0px;
			}
			&:before {
				font-size: 16px;
				margin-right: 8px;
			}
		}
	}
	.inner {
		padding: 30px 0px;
		display: none;
		&.act {
			display: block;
			.inner {
				display: block;
				padding: 0px 0px;
			}
		}
	}
}
#mod_news {
	.inner {
		padding: 30px 0px;
		.inbottom {
			border-top: 1px solid #efeae3;
			padding: 20px 0px;
			text-align: center;
			.a_more {
				color: @color3;
				.fh;
				text-decoration: none;
				font-size: 21px;
				&:after {
					content: '';
					display: inline-block;
					position: relative;
					width: 13px;
					height: 40px;
					background: url('../images/bg/a02.png') no-repeat center center;
					top: 13px;
					margin-left: 20px;
					right: 0px;
					.transition(0.5s);
				}
				&:hover {
					color: @color2;
					&:after {
						right: -10px;
					}
				}
			}
		}
	}
	.item {
		padding: 20px 0px;;
		.thumb {
			display: block;
			float: left;
			margin: 0px 30px 0px 0px;
			padding-left: 0px;
			img {
				max-width: 192px;
			}
		}
		.cnt {
			h3 {
				text-transform: none;
				font-size: 23px;
				margin-bottom: 15px;
				a {
					text-decoration: none;
					&:hover {
						color: @color3;
					}
				}
			}
			.more {
				color: @color2;
			}
		}
		.date {
			display: inline-block;
			font-style: italic;
			padding: 0px 0px 5px;
			margin: 0px 0px 10px;
			font-weight: 400;
			font-size: 15px;
			position: relative;
			top: -2px;
			color: #69553d;
			border-bottom: 7px solid #dcc8ae;
		}
	}
}


.mod_panel {
	position: relative;
	top: 10px;
	margin-bottom: 55px;
	.panel_head {
		border-bottom: 2px solid @color2;
		padding: 5px 20px;
		h2, h3 {
			color: @color3;
			font-size: 30px;
			text-transform: none;
			font-weight: 700;
			margin-right: 70px;
		}
		span {
			position: absolute;
			top: 0px;
			right: 20px;
			font-size: 36px;
			color: @color3;
		}
	}
	.cnt {
		padding: 30px 0px 50px;
		&.cnt_link {
			padding: 20px 0px;
			a {
				display: block;
				vertical-align: middle;
				height: 68px;
				width: 100%;
				background: @color4;
				position: relative;
				margin-bottom: 5px;
				color: #69553d;
				.fh;
				strong {
					font-size: 21px;
				}
				span {
					line-height: 1.4em;
					display: block;
					position: absolute;
					top: 12px;
					left: 85px;
				}
				&.inline {
					span {
						top: 24px;
					}
				}
				&:before {
					content: '';
					display: inline-block;
					position: relative;
					width: 42px;
					height: 42px;
					top: 13px;
					left: 25px;
					.transition(0.5s);
					.border-radius(50%);
					background-color: @color5;
					background-position: center center;
					background-repeat: no-repeat;
				}
				&.kniha-prani {
					&:before {
						background-image: url('../images/bg/i01.png');
					}
				}
				&.turisticky-portal {
					&:before {
						background-image: url('../images/bg/i02.png');
					}
				}
				&.ic {
					&:before {
						background-image: url('../images/bg/i03.png');
					}
				}
				&.kulturni-leto {
					&:before {
						background-image: url('../images/bg/i04.png');
					}
				}
				&.koupaliste {
					&:before {
						background-image: url('../images/bg/i05.png');
					}
				}
				&.policie {
					&:before {
						background-image: url('../images/bg/i06.png');
					}
				}
				&.youtube {
					&:before {
						background-image: url('../images/bg/i07.png');
					}
				}
				&.e-shop {
					&:before {
						background-image: url('../images/bg/i08.png');
					}
				}
				&.facebook {
					&:before {
						background-image: url('../images/bg/i09.png');
					}
				}
				&:hover {
					background: #dad5cf;
					&:before {
						background-color: @color2;
					}
				}
			}
		}
	}

	.item {
		margin-top: 23px;
		padding: 0px 20px;
		a {
			color: @color1;
			text-decoration: none;
			.date {
				font-weight: 700;
				color: #69553d;
				font-style: italic;
				font-size: 14px;
				display: block;
				margin-bottom: 5px;
			}
			em {
				display: block;
				color: @color2;
				font-size: 20px;
				font-style: normal;
				.fh;
			}
			.item_content {
				margin: 0px 0px 0px;
				font-size: 15px;
			}
			&:hover {
				text-decoration: none;
				em {
					color: @color3;
				}
			}
		}
	}
	.main_item {
		display: block;
		margin: 20px 0px 0px;
		color: @color2;
		.thumb {
			float: left;
			margin-right: 10px;
		}
		em {
			font-size: 15px;
			position: relative;
			top: -2px;
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
}




#mod_newsletter {
	padding: 40px 30px 0px;
	color: #69553d;
	input {
		width: 80%;
		float: left;
		margin-right: 3%;
	}
	button {
		border: 0px;
		background: none;
		position: relative;
		float: left;
		width: 10%;
		&:before {
			content: '\e80a';
			.fi;
			.transition(0.5s);
			position: relative;
			top: 0px;
			left: 0px;
			color: @color3;
			font-size: 38px;
		}
		&:hover {
			&:before {
				color: @color2;
			}
		}
	}
}

#mod_partner {
	background: @color2;
	border-bottom: 2px solid @color3;
	padding: 18px 40px 15px;
	h3 {
		color: #ffffff;
		font-size: 24px;
		float: left;
		width: 190px;
		padding-top: 3px;
		text-transform: none;
	}

	ul {
		margin: 0px;
		padding: 0px;
		float: left;
		width: 850px;
		li {
			float: left;
			padding: 5px 21px 5px 22px;
			position: relative;
			a {
				color: #ffffff;
				font-size: 14px;
			}
			&:before {
				content: '\e80b';
				font-size: 20px;
				position: absolute;
				top: 8px;
				left: 0px;
				color: @color3;
			}
		}
	}
}














.mod_page-unions {
	margin: 0 0 80px;
	.col_left {
		float: left;
		width: 45.8%;
		padding: 0 10px 0 0;
	}
	.col_right {
		float: left;
		width: 54.2%;
		padding: 0 0 0 10px;
	}
	.mod_contact {
		padding: 0;
		margin: 0 0 70px;
		.secondary_header {
			margin-bottom: 45px;
		}
		address {
			font-style: normal;
			line-height: 1.4;
			margin: 0 0 43px;
		}
		.bottom {
			padding: 38px 0 0;
			margin: 50px 0 40px;
			border-top: 2px solid #dcc8ae;
			table {
				margin: 0 0 25px;
				th, td {
					font-weight: normal;
				}
				th {
					padding-right: 10px;
				}
			}
		}
		.navigation {
			padding: 30px 0 0;
			border-top: 2px solid #efeae3;
		}
	}
	.mod_openhours {
		margin: 0 0 70px;
		.secondary_header {
			margin-bottom: 45px;
		}
		table.hours {
			margin: 0 0 40px;
			th, td {
				padding: 0 0 1px 10px;
				font-weight: normal;
				vertical-align: top;
				line-height: 1.4;
				mark {
					font-weight: bold;
					color: @color_link;
				}
			}
			th {
				padding-left: 0;
				padding-right: 75px;
				&:after{
					content: '';
					display: block;
					height: 2px;
					background: #efeae3;
					margin: 17px 0 0;
				}
			}
		}
		hr {
			border-top: 2px solid #dcc8ae;
		}
		#col-right & p {
			line-height: 1.4;
		}
	}
	.mod_map {
		.secondary_header {
			h1, h2, h3 {
				font-size: 23px;
			}
		}
	}
}
.mod_page-user-detail {
	margin: 0 0 80px;
	.col_left {
		width: 33.3333%;
		padding: 0 20px 0 0;
		float: left;
	}
	.col_right {
		float: left;
		width: 66.6666%;
	}
	.image_circle {
		margin: 5px 15px 0 33px;
	}
	.mod_contact {
		.secondary_header {
			margin-bottom: 45px;
		}
	}
	.mod_resume{
		.secondary_header {
			margin-bottom: 35px;
		}
		.navigation {
			margin-top: 25px;
			margin-bottom: 45px;
		}
	}
}
.mod_page-users {
	margin: 0 0 80px;
	.mod_navbox {
		margin-bottom: 50px;
	}
	.col_left {
		float: left;
		width: 50%;
		padding: 0 20px 0 0;
	}
	.col_right {
		float: left;
		width: 50%;
		padding: 0 0 0 20px;
	}
	.col_left, .col_right {
		.user_items {
			.user_item {
				width: 100%;
			}
		}
	}
	.mod_panel {
		.panel_head {
			margin-bottom: 30px;
		}
		&.calendar {
			.panel_head {
				border-color: #dcc8ae;
				margin-bottom: 30px;
			}
		}
	}
	.user_items {
		margin: 0 0 25px -30px;
		.user_item {
			.clearfix;
			width: 50%;
			display: inline-block;
			vertical-align: top;
			margin: 0 -4px 43px 0;
			padding: 0 20px 0 44px;
			figure {
				.image_circle;
				float: left;
				width: 28%;
			}
			.content {
				float: left;
				width: 72%;
				padding: 3px 0 0 20px;
			}
			h2 {
				text-transform: none;
				font-weight: bold;
				font-size: 21px;
				line-height: 1.2;
				margin: 0 0 19px;
			}
			ul {
				.rul;
				li {
					.rli;
					padding: 0 0 0 32px;
					margin: 0 0 6px;
					[class^="icon-"] {
						.border-radius(50%);
						position: absolute;
						left: 0;
						top: -3px;
						width: 26px;
						height: 26px;
						line-height: 26px;
						text-align: center;
						color: #fff;
						background: @color_link;
					}
					mark {
						font-size: 24px;
						display: inline-block;
						margin: -8px 0 0;
						color: @color_link;
					}
				}
			}
		}
	}
}
.mod_page-gallery {
	margin: 0 0 80px;
	.secondary_header {
		margin-bottom: 55px;
		[class^="icon-"] {
			.fi;
			.border-radius(50%);
			content: '\e84a';
			float: left;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			font-size: 24px;
			color: #fff;
			margin: 2px 17px 0 0;
			background: @color5;
		}
		h2, h3 {
			float: left;
		}
		.form {
			float: right;
			font-size: 14px;
			select {
				width: 75px;
				margin: 0 0 0 17px;
				padding-right: 0;
				text-align: center;
			}
		}
	}
	.gall_items {
		margin-bottom: 50px;
	}
}
.mod_page-contacts {
	padding: 0;
	margin: 0 0 70px;
	.col_left {
		float: left;
		width: 45.5%;
		padding: 0 10px 0 0;
	}
	.col_right {
		float: left;
		width: 54.5%;
		padding: 0 0 0 10px;
	}
	.mod_contact {
		margin: 0 0 53px;
		.secondary_header {
			margin-bottom: 45px;
		}
		address {
			font-style: normal;
			line-height: 1.4;
			margin: 0 0 43px;
		}
	}
	.mod_openhours {
		margin: 0 0 53px;
		.secondary_header {
			margin-bottom: 45px;
		}
		table.hours {
			margin: 0 0 40px;
			th, td {
				padding: 0 0 1px 10px;
				font-weight: normal;
				vertical-align: top;
				line-height: 1.4;
				mark {
					font-weight: bold;
					color: @color_link;
				}
			}
			th {
				padding-left: 0;
				padding-right: 75px;
				&:after{
					content: '';
					display: block;
					height: 2px;
					background: #efeae3;
					margin: 17px 0 0;
				}
			}
		}
		hr {
			border-top: 2px solid #dcc8ae;
		}
		.table_list {
			margin: 32px 0;
			table {
				margin-bottom: 23px;
				th, td {
					font-weight: normal;
					font-size: 16px;
					padding-bottom: 3px;
				}
				th {
					padding-right: 20px;
				}
			}
		}
	}
	.navigation {
		text-align: left;
		padding: 32px 0;
		margin-bottom: 50px;
		border-top: 2px solid #ebe3da;
		border-bottom: 2px solid #dcc8ae;
		&>a {
			display: block;
			&:before{
				right: 5px;
			}
		}
	}
	.list_inline {
		margin-top: 20px;
		margin-bottom: 80px;
	}
}
.mod_filter_category {
	margin: 0 0 35px;
	.secondary_header {
		margin-bottom: 0;
	}
	.inner {
		padding: 33px 22px 25px;
		background: #f2ede6;
	}
	.mod-title {
		.fh;
		position: relative;
		padding: 0 0 0 60px;
		margin: 0 0 25px;
		font-size: 21px;
		&:before{
			.fi;
			.border-radius(50%);
			content: '\e84a';
			position: absolute;
			top: 50%;
			left: 0;
			width: 40px;
			height: 40px;
			line-height: 40px;
			margin: -23px 0 0;
			text-align: center;
			font-size: 26px;
			color: #fff;
			background: @color5;
		}
	}
	.list_links {
		&>ul {
			&>li {
				font-weight: 600;
				display: inline-block;
				vertical-align: top;
				width: 33.3333%;
				margin-right: -4px;
				padding-right: 10px;
			}
		}
	}
	.toggle {
		margin: -52px 0 0;
		text-align: right;
		a {
			display: inline-block;
			color: @color1;
			margin: 0 2%;
			font-size: 14px;
			&:before{
				.fi;
				float: right;
				font-size: 25px;
				content: '\e843';
				margin: -8px 0 0 16px;
				text-decoration: none;
			}
		}
	}
	.table_users {
		.footer {
			margin: 25px 1%;
			font-weight: 600;
			font-size: 15px;
			[class^="icon-"] {
				font-weight: normal;
				font-size: 20px;

			}
			p {
				margin: 30px 0;
			}
		}
	}
}
.mod_page-calendar-detail {
	margin: 0 0 70px;
	.col_left {
		float: left;
		width: 58%;
	}
	.col_right {
		float: left;
		width: 42%;
		padding: 0 0 0 50px;
	}
	.content {
		font-size: 15px;
		line-height: 1.6;
		margin: 0 0 60px;
		p {
			margin: 0 0 27px;
		}
	}
	.table_list {
		margin-bottom: 60px;
		mark {
			color: @color2;
		}
	}
	.navigation	{
		padding: 37px 0 0;
		border-top: 1px solid #dac4a8;
	}
}
.mod_page-company-catalogue {
	margin: 0 0 70px;
	.col_left {
		float: left;
		width: 34%;
		padding: 0 20px 0 0;
	}
	.col_right {
		float: left;
		width: 66%;
	}
	.list_alphabet {
		margin-bottom: 50px;
	}
	.box {
		position: relative;
		padding: 0 0 0 75px;
		margin: 0 0 60px;
		line-height: 1.5;
		.icon {
			.border-radius(50%);
			position: absolute;
			left: 0;
			top: -5px;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			color: #fff;
			font-size: 30px;
			background: @color5;
		}
		p {
			margin: 0 0 15px;
		}
		.list_check {
			&>ul {
				&>li {
					line-height: 1.2;
					margin-bottom: 10px;
				}
			}
		}
	}
	.list_icons {
		&>ul {
			margin-left: -20px;
			&>li {
				display: inline-block;
				vertical-align: top;
				width: 33.3333%;
				margin-right: -4px;
				padding-left: 20px;
			}
		}
	}
}
.mod_page-company-catalogue-category {
	margin: 0 0 70px;
	.search_header {
		margin-bottom: 60px;
	}
	.list_block {
		margin-bottom: 90px;
		&>ul {
			margin-left: -20px;
			&>li {
				display: inline-block;
				vertical-align: top;
				width: 33.3333%;
				margin-right: -4px;
				padding-left: 20px;
			}
		}
	}
}
.mod_page-company-catalogue-detail {
	margin: 0 0 70px;
	.col_left {
		width: 26%;
		float: left;
		padding: 0 20px 0 0;
	}
	.col_center {
		width: 40%;
		float: left;
	}
	.col_right {
		float: left;
		width: 32%;
		padding: 0 0 0 20px;
	}
	.mod_recommend {
		.clearfix;
		margin: 40px 0 30px;
		.mod-title {
			float: left;
			width: 15%;
			color: @color2;
			font-weight: bold;
			font-size: 14px;
			margin: 15px 0;
			text-transform: uppercase;
			&:before{
				.fi;
				.border-radius(50%);
				content: '\e838';
				float: left;
				width: 24px;
				height: 24px;
				line-height: 24px;
				margin: -3px 10px 0 0;
				text-align: center;
				font-weight: normal;
				color: #fff;
				background: @color2;
			}
		}
		.list_inline_bordered {
			width: 85%;
			float: left;
		}
	}
	.content {
		margin: 0 0 50px;
		line-height: 1.4;
	}
	.box_map {
		padding-bottom: 30%;
	}
	.gallery {
		padding: 50px 0 0;
		margin: 0 0 40px;
		border-top: 1px solid #dcc8ae;
		h2 {
			font-size: 21px;
			color: @color2;
		}
	}
	.navigation {
		padding: 35px 0 0;
		border-top: 1px solid #dcc8ae;
	}
}
.mod_page-company-catalogue-add {
	margin: 0 0 70px;
	.box_info {
		margin: 0 0 80px;
	}
	label {
		font-size: 16px;
		font-weight: 600;
	}
	.form_control {
		.clearfix;
		width: 50%;
		margin: 0 0 6px;
		label {
			float: left;
			width: 34%;
			line-height: 1.2;
			padding: 13px 20px 0 0;
		}
		.content {
			float: left;
			width: 66%;
			ul {
				margin: 0 0 22px;
				li {
					font-size: 14px;
					line-height: 1.2;
					padding-left: 8px;
					&:before{
						font-size: 11px;
						top: 3px;
					}
					.remove {
						.border-radius(50%);
						position: absolute;
						left: -20px;
						top: 0;
						width: 14px;
						height: 14px;
						line-height: 14px;
						font-size: 14px;
						text-decoration: none;
						font-weight: bold;
						text-align: center;
						color: #fff;
						background: @color2;
					}
					ul {
						margin: 8px 0 15px 21px;
						padding: 0;
						li {
							margin: 0 0 8px;
							ul {
								display: inline;
								margin: 0;
								li {
									display: inline;
									margin: 0 0 0 4px;
									padding: 0;
									&:before{
										position: relative;
										top: -1px;
										margin: 0 5px 0 0;
									}
								}
							}
						}
					}
				}
			}
			.buttons {
				margin: 6px 0 40px;
				width: 100%;
				display: table;
				.button {
					display: table-cell;
					padding-left: 10px;
					&:first-child {
						padding-left: 0;
					}
					a {
						.btn;
						padding: 0;
						display: block;
					}
				}
			}
			textarea {
				height: 190px;
			}
		}
	}
	.map {
		margin: 15px 0 80px;
		font-size: 14px;
		label {
			display: block;
			margin: 0 0 7px;
		}
		.box_map {
			margin: 35px 0;
			padding-bottom: 31%;
		}
	}
	.gallery {
		font-size: 14px;
		label {
			display: block;
			margin: 0 0 7px;
		}
		.navigation_add {
			margin: 30px 0 5px;
			a {
				padding-left: 20px;
				color: @color2;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
				&:before{
					top: 1px;
					width: 14px;
					height: 14px;
					line-height: 14px;
					font-size: 14px;
					margin: 0;
				}
			}
		}
	}
	.submit {
		margin: 42px 0 0;
	}
}
.mod_page-suggestions {
	margin: 0 0 70px;
}
.mod_page-suggestions {
	.content {
		margin: 50px 0;
		line-height: 1.45;
		.icon {
			.border-radius(50%);
			float: left;
			width: 52px;
			height: 52px;
			line-height: 52px;
			font-size: 30px;
			margin: 0 25px 10px 0;
			text-align: center;
			color: #fff;
			background: @color5;
			&.icon-attention {
				background: @color2;
			}
		}
	}
	.comment_items {
		overflow: hidden;
		.add {
			margin: 0 0 70px;
			a {
				.btn;
				.btn-lg;
				.btn-next;
				position: relative;
				padding: 0 17px 0 40px;
				height: 80px;
				line-height: 80px;
				&:before{
					margin: 0 0 0 12px;
				}
				&:after{
					position: absolute;
					content: '';
					left: 100%;
					top: 50%;
					width: 999em;
					margin: 0 0 0 20%;
					border-top: 1px solid #dcc8ae;
				}
			}
		}
	}
}
.mod_page-eshop {
	margin: 0 0 70px;
	.mod_basket {
		clear: both;
		margin: -57px 0 0;
		a {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	.eshop_category {
		padding: 65px 0 50px;
	}
	.eshop_items {
		margin-top: 50px;
	}
	.col_left {
		width: 50%;
		float: left;
		margin: 50px 0 0;
	}
	.col_right {
		width: 50%;
		float: left;
		padding: 0 0 0 50px;
		margin: 80px 0 0;
	}
	.gallery_thumb {
		margin: 0 0 80px;
	}
	.detail_content {
		font-size: 15px;
		margin: 0 0 80px;
		h1 {
			color: @color2;
			font-size: 23px;
			font-weight: bold;
			margin: 0 0 28px;
		}
		.code {
			font-size: 15px;
			font-style: italic;
			margin: -24px 0 28px;
		}
		.price {
			.clearfix;
			margin: 50px 0 40px;
			mark {
				float: right;
				color: @color2;
				font-size: 30px;
				margin: -33px 0 0;
				strong {
					font-size: 46px;
				}
			}
		}
		.attribute {
			padding: 13px 0;
			margin: 0 0 29px;
			border-top: 1px solid #dcc8ae;
			border-bottom: 1px solid #dcc8ae;
			label {
				display: inline-block;
				vertical-align: middle;
				width: 47%;
				margin: 0 -4px 0 0;
			}
			select {
				display: inline-block;
				vertical-align: middle;
				width: 53%;
			}
		}
		.buy {
			.clearfix;
			input[type="text"], input[type="number"] {
				float: left;
				width: 26%;
				height: 65px;
				font-size: 16px;
				padding: 15px 10px;
				text-align: center;
			}
			.amount {
				float: left;
				width: 21%;
				text-align: right;
				line-height: 65px;
				height: 65px;
				&:before {
					.fi;
					float: right;
					content: '\e83c';
					font-size: 36px;
					color: #ccc;
				}
			}
			button {
				.btn-next;
				.btn-lg;
				float: left;
				height: 65px;
				width: 53%;
				padding: 0 10px;
				text-align: right;
				&:before{
					margin: 0 0 0 12px;
				}
			}
		}
	}
}
.mod_page-calendar {
	.selector {
		float: right;
		width: 21%;
		margin: -77px 0 ;
		select {
			padding: 0 0 0 30px;
			margin: 0;
			border: 0;
		}
	}
	.navigation_content {
		margin-bottom: 50px;
		.nav {
			padding-top: 30px;
			padding-bottom: 30px;
			width: 10%;
		}
	}
}
.mod_page-dashboard {
	margin: 0 0 70px;
}
.mod_page-detail {
	.clearfix;
	margin: 0 0 70px;
	.col_left {
		float: left;
		width: 56%;
		padding: 0 20px 0 0;
	}
	.col_right {
		float: left;
		width: 44%;
		padding: 0 0 0 20px;
	}
	.images {
		ul {
			.rul;
			li {
				.rli;
				margin: 0 0 20px;
				img {
					display: block;
				}
			}
		}
	}
	address {
		.clearfix;
		font-style: normal;
		line-height: 1.4;
		figure {
			float: left;
			width: 45%;
			margin: 0 0 30px;
			img {
				.border-radius(50%);
			}
		}
		.content {
			width: 55%;
			float: left;
			padding: 10px 0 0 10px;
		}
	}
	.list_contact {
		margin-bottom: 70px;
	}
	.openhours {
		display: block;
		margin: 45px 0;
		table {
			display: block;
			tbody {
				display: block;
			}
			tr {
				display: block;
				margin: 0 0 23px;
				th,td {
					display: block;
				}
				&.main {
					border-bottom: 2px solid #efeae3;
					th {
						color: @color2;
					}
				}
			}
		}
	}
	.navigation {
		text-align: left;
		padding-top: 30px;
		border-top: 2px solid #ebe3da;
	}
}
.mod_structure {
	margin: 90px 0;
	.structure_helper {
		margin-left: 65%;
		font-size: 13px;
		ul {
			.rul;
			margin: 0 0 32px;
			li {
				.rli;
				font-size: 14px;
				padding: 0 0 0 40px;
				margin: 0 0 20px;
				.icon {
					.border-radius(50%);
					position: absolute;
					left: 0;
					top: -3px;
					width: 24px;
					height: 24px;
					&.cat_01 {
						background: #ffc400;
					}
					&.cat_02 {
						background: #bdd600;
					}
				}
			}
		}
	}
	.structure_items {
		position: relative;
		text-align: center;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			bottom: 20px;
			border-left: 1px dashed #ba915d;
		}
		.hline {
			position: relative;
			margin: 0 0 -80px;
			&:before{
				position: absolute;
				content: '';
				left: 17%;
				right: 17%;
				top: 0;
				border-top: 1px dashed #ba915d;
			}
			.structure_item.center {
				&:before{
					content: '';
					position: absolute;
					height: 20px;
					left: 50%;
					top: 3px;
					border-left: 1px dashed #ba915d;
				}
			}
		}
		.structure_item {
			position: relative;
			font-size: 14px;
			.icon {
				position: absolute;
				&.cat_01 {
					background: #ffc400;
				}
				&.cat_02 {
					background: #bdd600;
				}
			}
			&.left, &.right {
				&:before{
					content: '';
					position: absolute;
					width: 67px;
					top: 50%;
					right: 0;
					border-top: 1px dashed #ba915d;
				}
				.icon {
					.border-radius(50%);
					width: 42px;
					height: 42px;
				}
			}
			&.left {
				width: 50%;
				margin: 0 0 10px;
				padding: 0 128px 0 0;
				text-align: right;
				.icon {
					right: 67px;
					top: 50%;
					margin: -21px 0 0;
				}
			}
			&.right {
				width: 50%;
				margin: -18px 0 -6px 50%;
				padding: 0 0 0 128px;
				text-align: left;
				&:before{
					right: auto;
					left: 0;
				}
				.icon {
					left: 67px;
					top: 50%;
					margin: -21px 0 0;
				}
			}
			&.center {
				display: inline-block;
				vertical-align: top;
				width: 16%;
				padding: 75px 10px 0;
				margin: 0 -2px 90px;
				.icon {
					.border-radius(50%);
					width: 42px;
					height: 42px;
				}
				h2 {
					small {
						display: block;
						margin: 8px 0 0;
					}
				}
				.icon {
					left: 50%;
					top: 23px;
					margin: 0 0 0 -21px;
				}
			}
			&.main {
				display: inline-block;
				vertical-align: top;
				text-align: left;
				width: 34%;
				padding: 54px 10px 14px 168px;
				margin: 0 -2px 90px;
				&.top {
					left: 90px;
					padding-top: 20px;
					figure {
						top: 0;
					}
					h2 {
						font-size: 24px;
					}
				}
				&.assigned_left {
					&:before{
						position: absolute;
						content: '';
						left: 10px;
						top: 74px;
						width: 40px;
						border-top: 1px dashed #ba915d;
					}
				}
				.icon {
					bottom: 0;
					left: 168px;
					width: 126px;
					height: 8px;
				}
				figure {
					.image_circle;
					position: absolute;
					left: 13%;
					top: 25px;
					width: 100px;
					img {
						display: block;
					}
				}
				h2 {
					.fp;
					font-weight: 600;
					text-transform: uppercase;
					color: #69553d;
					font-size: 17px;
					a {
						color: #69553d;
					}
					small {
						margin: 3px 0 0;
						font-size: 14px;
						display: block;
						text-transform: none;
						font-style: normal;
						font-weight: normal;
					}
				}
			}
			h2 {
				font-size: 16px;
				color: @color1;
				margin: 0 0 6px;
				small {
					font-size: 13px;
					font-style: italic;
					color: #69553d;
				}
			}
			p {
				margin: 0;
			}
		}
	}
}
.mod_page-calendar {
	margin: 0 0 70px;
	.calendar_list_items {
		.calendar_item {
			.clearfix;
			border-top: 1px solid #dac4a8;
			padding: 55px 0 0;
			margin: 0 0 28px;
			&:first-child {
				border-top: 0;
				padding-top: 45px;
			}
			figure {
				float: left;
				width: 15.2%;
				margin: 5px 0;
			}
			.content {
				float: left;
				width: 48.5%;
				padding: 5px 60px 0 40px;
				font-size: 14px;
				line-height: 1.8;
			}
			.info {
				float: left;
				width: 36.3%;
				mark {
					color: @color2;
				}
			}
			h2 {
				text-transform: uppercase;
				font-size: 21px;
				margin: 0 0 18px;
			}
			p {
				margin: 0 0 25px;
			}
		}
	}
}
.mod_page-chat {
	margin: 0 0 70px;
	.intro {
		.clearfix;
		margin: 60px 0 40px;
		figure {
			.image_circle;
			width: 18.5%;
			margin: 0 0 0 2.5%;
			float: left;
		}
		.content {
			float: left;
			width: 79%;
			padding: 0 0 0 50px;
			line-height: 1.5;
		}
	}
	.mod_header {
		margin: 0 0 50px;
		figure {
			.image_circle;
			display: inline-block;
			vertical-align: middle;
			width: 100px;
			margin: 0 25px 0 0;
		}
		.title {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			padding: 5px 32px 0 75px;
			margin: 0 30px 0 0;
			border-right: 2px solid #dcc8ae;
			line-height: 1.45;
			&:before{
				.fi;
				.border-radius(50%);
				content: '\e826';
				position: absolute;
				top: 50%;
				left: 0;
				width: 52px;
				height: 52px;
				line-height: 52px;
				font-size: 30px;
				margin: -26px 0 0;
				text-align: center;
				color: #fff;
				background: @color5;
			}
		}
		.date {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			padding: 5px 0 0 55px;
			line-height: 1.45;
			&:before{
				.fi;
				content: '\e806';
				position: absolute;
				top: 50%;
				left: 0;
				font-size: 38px;
				line-height: 1;
				margin: -18px 0 0;
				color: #000;
			}
		}
	}
	.secondary_header {
		margin-bottom: 65px;
	}
	.well {
		line-height: 1.5;
		mark {
			color: @color2;
		}
		nav {
			margin: 30px 0 20px;
			a {
				.btn;
				.btn-lg;
				.btn-next;
				&:before{
					margin: 0 -12px 0 15px;
				}
			}
		}
	}
	.navigation {
		text-align: left;
		padding: 16px 30px 30px;
		border-bottom: 2px solid #dcc8ae;
	}
}
.mod_page-intro, .mod_page-intro-office, .mod_page-intro-institution {
	.col_left {
		width: 50%;
		float: left;
		padding: 0 20px 0 0;
	}
	.col_right {
		width: 50%;
		float: left;
		padding: 0 0 0 20px;
	}
	.intro {
		.clearfix;
		margin: 50px 0 70px;
		figure {
			.image_circle;
			float: right;
			width: 47%;
			&:before{
				display: none;
			}
		}
		.content {
			float: left;
			width: 53%;
			padding: 0 40px 0 0;
			line-height: 1.5;
		}
	}
	.secondary_header {
		margin-bottom: 40px;
	}
	.navigation {
		text-align: left;
		padding: 30px 0;
		border-top: 2px solid #efeae3;
	}
	.mod_infocenter {
		margin: 0 0 50px;
		figure {
			float: left;
			width: 43%;
			padding: 0 20px 0 0;
			margin: 0 0 20px;
			img {
				.border-radius(50%);
				&.logo {
					.border-radius(0);
					margin: -32px 0 0;
					max-width: 108px;
				}
			}
		}
		.content {
			float: left;
			width: 57%;
			margin: 0 0 20px;
			address {
				font-style: normal;
				line-height: 1.55;
				margin: 0;
			}
			.list_contact {
				ul {
					margin: 20px 0;
					li {
						margin: 0 0 25px;
						mark {
							font-size: 22px;
						}
					}
				}
			}
		}
		.openhours {
			table {
				display: block;
				thead {
					display: block;
					tr {
						display: block;
						padding: 0 0 23px;
						margin: 0 0 22px;
						border-bottom: 2px solid #efeae3;
						th, td {
							display: inline-block;
							vertical-align: top;
						}
						th {
							color: @color2;
						}
					}
				}
				tbody {
					display: block;
					tr {
						display: block;
						th, td {
							display: inline-block;
							vertical-align: top;
							width: 50%;
							margin: 0 -4px 0 0;
						}
					}
				}
			}
		}
	}
	.archive_items {
		margin-bottom: 50px;
	}
	.list_download, .list_links {
		margin: 0 0 40px;
	}
	.mod_contact {
		margin: 0 0 50px;
		address {
			font-style: normal;
			line-height: 1.5;
			margin: 0 0 40px;
		}
		.table_list {
			padding: 40px 0 0;
			margin: 0 0 40px;
			border-top: 2px solid #dcc8ae;
			table {
				th, td {
					font-weight: normal;
					font-size: 16px;
					line-height: 1.2;
					padding-bottom: 5px;
				}
				td {
					padding-left: 10px;
				}
			}
		}
	}
	.mod_openhours {
		line-height: 1.5;
		margin: 0 0 50px;
		.openhours {
			padding: 0 0 40px;
			margin: 0 0 45px;
			border-bottom: 2px solid #dcc8ae;
			table {
				.clearfix;
				display: block;
				thead {
					float: left;
					width: 33.3333%;
					margin: 0 -4px 0 0;
					padding: 0 0 20px;
					border-bottom: 2px solid #efeae3;
					th, td {
						display: block;
					}
					th {
						color: @color2;
					}
				}
				tbody {
					float: left;
					width: 66.6666%;
					padding: 0 0 0 65px;
					margin: 0 -4px 0 0;
					th, td {
						line-height: 1.2;
						padding-bottom: 3px;
					}
					th {
						padding-right: 5px;
					}
				}
			}
		}
		.box_info {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	.mod_unions {
		.list_links {
			ul {
				.rul;
					display: inline-block;
					vertical-align: top;
					width: 33.3333%;
					margin: 0 -4px 0 0;
					padding: 0 0 0 20px;
			}
		}
	}
	.mod_sport {
		.list_links {
			ul {
				width: 50%;
				display: inline-block;
				vertical-align: top;
				margin: 0 -4px 0 0;
				padding: 0 20px 0 0;
			}
		}
	}
}
.mod_page-intro-office {
	.col_left {
		width: 46%;
		padding-right: 10px;
	}
	.col_right {
		width: 54%;
		padding-left: 10px;
	}
}
.mod_page-intro-institution {
	.col_left {
		width: 33.3333%;
		float: left;
		padding: 0 10px 0 0;
	}
	.col_center {
		width:  33.3333%;
		float: left;
		padding: 0 5px;
	}
	.col_right {
		width: 33.3333%;
		float: left;
		padding: 0 0 0 10px;
	}
	.secondary_header {
		h2, h3 {
			font-size: 22px;
		}
	}
}
.mod_page-portal {
	margin: 0 0 70px;
	.col_left {
		float: left;
		width: 46%;
		padding: 0 10px 0 0;
	}
	.col_right {
		float: left;
		width: 54%;
		padding: 0 0 0 10px;
	}
	.secondary_header {
		margin-bottom: 45px;
	}
	.mod_contact {
		margin: 0 0 50px;
		address {
			font-style: normal;
			line-height: 1.5;
			margin: 0 0 40px;
		}
	}
	.mod_openhours {
		line-height: 1.5;
		margin: 0 0 50px;
		.openhours {
			padding: 0 0 40px;
			margin: 0 0 35px;
			border-bottom: 2px solid #dcc8ae;
			table {
				.clearfix;
				display: block;
				thead {
					float: left;
					width: 33.3333%;
					margin: 0 -4px 0 0;
					padding: 0 0 20px;
					border-bottom: 2px solid #efeae3;
					th, td {
						display: block;
					}
					th {
						color: @color2;
					}
				}
				tbody {
					float: left;
					width: 66.6666%;
					padding: 0 0 0 65px;
					margin: 0 -4px 0 0;
					th, td {
						line-height: 1.2;
						padding-bottom: 3px;
					}
					th {
						padding-right: 5px;
					}
				}
			}
		}
		.table_list {
			table {
				th, td {
					font-weight: normal;
					font-size: 16px;
					line-height: 1.2;
					padding-bottom: 5px;
				}
				td {
					padding-left: 10px;
				}
			}
		}
	}
	.navigation {
		padding:  32px 0;
		text-align: left;
		border-top: 2px solid #efeae3;
		border-bottom: 2px solid #dcc8ae;
	}
}

.mod_page-spatial-planning {
	.content_panes {
		.panes {
			padding: 40px 0 0;
		}
	}
	.secondary_header {
		margin-bottom: 20px;
	}
	.mod_download {
		.mod_item {
			border-bottom: 1px solid #efeae3;
			padding: 0 0 6px 20px;
			margin: 0 0 20px;
			h3 {
				color: #69553d;
				font-weight: normal;
				font-size: 18px;
				margin: 0 0 10px;
			}
		}
	}
}
.mod_page-form {
	margin: 0 0 70px;
	.col_left {
		float: left; 
		width: 50%;
		padding: 0 10px 0 0;
	}
	.col_right {
		float: left;
		width: 50%;
		padding: 0 0 0 40px;
	}
	.helper {
		font-size: 15px;
		margin: 0 0 20px;
	}
	.form_row {
		.clearfix;
		margin: 0 0 6px;
		label {
			float: left;
			width: 34%;
			font-size: 15px;
			line-height: 1.2;
			font-weight: 600;
			padding: 10px 15px 0 0;
		}
		.content {
			float: left;
			width: 66%;
			font-size: 15px;
		}
		.input-small {
			width: 48%;
			margin: 0 8% 0 0;
		}
		textarea {
			height: 160px;
		}
	}
}