.main_header {
	position: relative;
	margin: 0 0 40px;
	padding: 4px 0 0;
	overflow: hidden;
	.logo {
		display: inline-block;
		vertical-align: middle;
		margin: 10px 20px 0 0;
	}
	h1, h2 {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 3px 0 0;
		font-size: 36px;
		line-height: 1.2;
		text-transform: uppercase;
		&:before{
			content: '';
			position: absolute;
			left: 100%;
			bottom: 9px;
			width: 999em;
			height: 8px;
			margin: 0 0 0 20px;
			background: #dcc8ae;
		}
	}
	[class^="icon-"] {
		.border-radius(50%);
		float: left;
		margin: -3px 16px 0 0;
		width: 52px;
		height: 52px;
		line-height: 52px;
		color: #fff;
		font-size: 32px;
		text-align: center;
		background: @color5;
		&:before{
			margin: 0;
		}
	}
}
.well {
	padding: 40px 40px 20px;
	margin: 0 0 20px;
	background: #f7f4f1;
}
.mod_basket {
	position: relative;
	margin: 0 0 20px;
	a {
		.transition(0.2s);
		position: relative;
		display: inline-block;
		color: @color1;
		font-size: 14px;
		line-height: 1.4;
		padding: 15px 45px 14px 20px;
		text-decoration: none;
		background: #efeae3;
		&:hover{
			background: darken(#efeae3,5%);;
		}
		&:before{
			.fi;
			.border-radius(50%);
			display: inline-block;
			vertical-align: middle;
			content: '\e831';
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 25px;
			margin: 0 16px 0 0;
			text-align: center;
			color: #fff;
			background: @color5;
		}
		span {
			display: inline-block;
			vertical-align: middle;
		}
		mark {
			display: block;
			color: @color2;
		}
	}
}
.secondary_header {
	.clearfix;
	margin: 0 0 30px;
	color: #000;
	border-bottom: 2px solid @color2;
	&.tuned {
		border-color: #dcc8ae;
	}
	h2, h3, h4 {
		font-size: 24px;
		line-height: 1.2;
		text-transform: none;
		color: #000;
		font-weight: bold;
		margin: 10px 0 18px;
		small {
			font-size: 14px;
		}
	}
	[class^="icon-"] {
		float: right;
		font-size: 36px;
		line-height: 1;
		margin: 0 10px;
	}
}
.image_circle {
	position: relative;
	&:before{
		.border-radius(50%);
		.box-shadow(inset 2px 2px 6px fade(#000,30%));
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	img {
		.border-radius(50%);
		display: block;
	}
}
.list_contact {
	&>ul {
		.rul;
		margin: 0 0 45px;
		&>li {
			.rli;
			padding: 0 0 0 46px;
			margin: 0 0 24px;
			line-height: 1.2;
			[class^="icon-"] {
				.border-radius(50%);
				position: absolute;
				left: 0;
				top: -9px;
				height: 36px;
				width: 36px;
				line-height: 36px;
				font-size: 22px;
				text-align: center;
				color: #fff;
				background: @color_link;
			}
			mark {
				display: inline-block;
				margin: -8px 0;
				font-size: 24px;
				color: @color_link;
			}
		}
	}
}
.list_info {
	&>ul {
		.rul;
		margin: 0 0 20px;
		&>li {
			.rli;
			line-height: 1.2;
			margin: 0 0 18px;
		}
	}
}
.list_contact_inline {
	&>ul {
		.rul;
		margin: 0 0 20px -32px;
		&>li {
			.rli;
			display: inline-block;
			padding: 0 0 0 35px;
			margin: 0 0 10px 32px;
			font-size: 14px;
			line-height: 1.2;
			[class^="icon-"] {
				.border-radius(50%);
				position: absolute;
				left: 0;
				top: 50%;
				height: 24px;
				width: 24px;
				line-height: 24px;
				font-size: 14px;
				text-align: center;
				margin: -12px 0 0;
				color: #fff;
				background: @color_link;
			}
			mark {
				display: inline-block;
				margin: -4px 0;
				font-size: 19px;
				color: @color_link;
			}
		}
	}
}
.list_inline {
	&>ul {
		.rul;
		margin: 0 0 20px;
		&>li {
			.rli;
			display: inline-block;
			padding: 0 0 0 25px;
			margin: 0 18px 12px 0;
			font-size: 14px;
			line-height: 1.2;
			&:before{
				content: '\e80b';
				font-size: 21px;
				top: -1px;
				left: 1px;
			}
			a {
				color: @color1;
			}
		}
	}
}
.list_inline_bordered {
	&>ul {
		.rul;
		padding: 13px 0 6px;
		margin: 0 0 20px;
		border-top: 1px solid #dcc8ae;
		border-bottom: 1px solid #dcc8ae;
		&>li {
			.rli;
			display: inline-block;
			padding: 0 0 0 21px;
			margin: 0 8px 10px 14px;
			font-size: 15px;
			line-height: 1.2;
			&:before{
				content: '\e83c';
				font-size: 22px;
				top: 0;
			}
			a {
				color: #69553d;
			}
		}
	}
}
.list_download {
	&>ul {
		.rul;
		margin: 0 0 20px;
		&>li {
			.rli;
			padding-left: 24px;
			font-size: 15px;
			line-height: 1.2;
			margin: 0 0 12px;
			&:before{
				content: '\e816';
				color: @color_link;
				font-size: 19px;
				top: 1px;
			}
		}
	}
}
.list_links {
	&>ul {
		margin: 0 0 20px;
		&>li {
			font-size: 14px;
			padding-left: 12px;
			margin-bottom: 12px;
			&:before{
				color: @color2;
			}
		}
	}
}
.list_icons, .list_block{
	margin: 0 0 20px;
	&>ul {
		.rul;
		&>li {
			.rli;
			margin: 0 0 6px;
			a {
				position: relative;
				display: block;
				padding: 25px 10px 22px 74px;
				text-decoration: none;
				color: #69553d;
				font-size: 18px;
				line-height: 1.2;
				letter-spacing: -0.02em;
				background: #ebe3da;
				&:hover{
					background: darken(#ebe3da,10%);;
				}
				[class^="icon-"] {
					.border-radius(50%);
					position: absolute;
					left: 18px;
					top: 15px;
					width: 40px;
					height: 40px;
					line-height: 40px;
					font-size: 26px;
					text-align: center;
					color: #fff;
					background: @color5;
					&:before{
						margin: 0;
					}
				}
			}
		}
	}
}
.list_block {
	&>ul {
		&>li {
			a {
				padding-left: 44px;
				&:before{
					.border-radius(50%);
					content: '';
					position: absolute;
					left: -20px;
					top: 15px;
					width: 40px;
					height: 40px;
					line-height: 40px;
					background: #fff;
				}
			}
		}
	}
}
.list_check {
	&>ul {
		&>li {
			font-size: 15px;
			margin-bottom: 9px;
			&:before{
				content: '\e83b';
				color: @color5;
				font-size: 21px;
				left: -5px;
				top: 0;
			}
		}
	}
}
.list_alphabet {
	&>ul {
		.rul;
		.clearfix;
		margin: 0 0 20px -2px;
		&>li {
			.rli;
			float: left;
			margin: 0 0 2px 2px;
			a {
				display: block;
				text-decoration: none;
				color: @color1;
				padding: 0 14px;
				font-weight: bold;
				line-height: 38px;
				text-transform: uppercase;
				background: #ebe3da;
				&:hover{
					background: darken(#ebe3da,10%);
				}
			}
			&.act {
				a {
					color: #fff;
					background: @color2;
				}
			}
		}
	}
}
.search_header {
	.clearfix;
	clear: both;
	margin: 0 0 30px;
	padding: 0 0 30px;
	border-bottom: 2px solid @color2;
	.search {
		float: left;
		input[type="text"] {
			width: 330px;
			float: left;
		}
		button {
			padding: 0;
			width: 58px;
			font-size: 24px;
			overflow: hidden;
			background: none;
			text-align: right;
			color: #8c7558;
			&:hover{
				color: @color2;
			}
			&:before{
				display: inline-block;
				width: 58px;
				margin: 0;
			}
		}
	}
	.navigation_add {
		float: right;
		margin: 10px 0;
	}
	.switcher {
		float: right;
		ul {
			.rul;
			.clearfix;
			margin: 13px 0 0;
			li {
				.rli;
				float: left;
				font-size: 14px;
				line-height: 1.2;
				margin: 0 0 0 20px;
				a {
					display: inline-block;
					padding: 0 43px 0 0;
					color: @color1;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
					[class^="icon-"] {
						position: absolute;
						right: 0;
						top: -10px;
						font-size: 36px;
						line-height: 1;
						color: #ebe0d2;
						&:before{
							margin: 0;
						}
					}
				}
				&.act {
					a {
						[class^="icon-"] {
							color: @color2;
						}
					}
				}
			}
		}
	}
}
.gall_cat {
	margin: 0 0 20px -50px;
	.gall_cat_item {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		padding: 0 0 0 50px;
		margin: 0 -4px 60px 0;
		text-align: center;
		a {
			text-decoration: none;
			&:hover{
				figure {
					&:before{
						border: 8px solid fade(#69553d,90%);
					}
					&:after{
						background: @color_link;
					}
				}
			}
		}
		figure {
			.image_circle;
			.transition(0.05s);
			margin: 0 0 14px;
			padding: 0;
			&:before{
				.transition(0.2s);
			}
			&:after{
				.fi;
				.border-radius(50%);
				.transition(0.2s);
				position: absolute;
				content: '\e829';
				top: 0;
				left: 5px;
				width: 40px;
				height: 40px;
				padding: 0 0 0 4px;
				line-height: 40px;
				font-size: 22px;
				text-align: center;
				color: #fff;
				background: @color5;
			}
		}
		h2, h3 {
			font-size: 16px;
			line-height: 1.2;
			text-transform: none;
			color: @color_link;
			font-weight: normal;
			margin: 0;
			mark {
				display: block;
				color: #69553d;
				font-style: italic;
				font-size: 14px;
				margin: 4px 0 0;
			}
		}
	}
}
.gall_items {
	margin: 0 0 20px;
	overflow: hidden;
	.gall_item {
		position: relative;
		left: -1px;
		top: 1px;
		display: inline-block;
		width: 25%;
		margin: 0 -4px -4px 0;
		border-left: 1px solid #dac4a8;
		border-bottom: 1px solid #dac4a8;
		&:before {
			display: block;
			content: '';
			padding-top: 100%;
		}
		a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align:center;
			font: 0/0 a;
			&:hover{
				.hover {
					-webkit-opacity: 1;
					-moz-opacity: 1;
					opacity: 1;
					filter:alpha(opacity=100);
					&:before{
						top: 56%;
					}
					h2, h3 {
						bottom: 59%;
					}
				}
			}
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
			img {
				vertical-align: middle;
				display: inline-block;
				max-height: 195px;
				max-width: 195px;
				height: auto!important;
				width: auto!important;
			}
		}
		.hover {
			.transition(0.2s);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			padding: 20px;
			color: #fff;
			background: fade(#69553d,90%);
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter:alpha(opacity=0);
			&:before{
				.fi;
				.transition(0.2s);
				content: '\e82a';
				position: absolute;
				top: 70%;
				left: 0;
				display: block;
				text-align: center;
				width: 100%;
				font-size: 48px;
				line-height: 1;
			}
			h2, h3 {
				.transition(0.2s);
				position: absolute;
				bottom: 70%;
				left: 0;
				width: 100%;
				padding: 0 35px;
				color: #fff;
				margin: 0;
				text-transform: none;
				font-size: 16px;
			}
		}
	}
}
.hover_image {
	display: block;
	position: relative;
	color: #fff;
	text-decoration: none;
	&:before{
		.transition(0.2s);
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 0;
		background: fade(#69553d,80%);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
	&:after{
		.fi;
		.transition(0.2s);
		content: '\e82a';
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		text-align: center;
		width: 100%;
		font-size: 48px;
		line-height: 1;
		margin: -12px 0 0;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
	&:hover{
		&:before{
			-webkit-opacity: 1;
			-moz-opacity: 1;
			opacity: 1;
			filter:alpha(opacity=100);
		}
		&:after{
			-webkit-opacity: 1;
			-moz-opacity: 1;
			opacity: 1;
			filter:alpha(opacity=100);
			margin-top: -24px;
		}
	}
}
.gallery {
	ul {
		.rul;
		margin: 0 0 20px -16px;
		li {
			.rli;
			margin: 0 0 16px 16px;
			display: inline-block;
			vertical-align: middle;
			a {
				.hover_image;
			}
			img {
				display: block;
				max-height: 170px;
				max-width: 170px;
				height: auto!important;
				width: auto!important;
			}
		}
	}
}
.gallery_thumb {
	ul {
		.rul;
		li {
			.rli;
			img {
				display: block;
			}
		}
	}
	.images {
		padding: 0 0 20px;
		margin: 0 0 30px;
		border-bottom: 1px solid #dcc8ae;
		li {
			a {
				.hover_image;
			}
		}
	}
	.thumbnails {
		overflow: hidden;
		margin: 0 -10px 20px;
		li {
			display: inline-block;
			width: 33.3333%;
			margin: 0 -4px 10px 0;
			padding: 0 10px;
			vertical-align: middle;
			a {
				.hover_image;
				&:before{
					background: fade(#69553d,30%);
				}
				&:after{
					content: '\e843';
				}
			}
			&.cycle-pager-active {
				a {
					border: 1px solid @color4;
				}
			}
			&:before{
				position: absolute;
				content: '';
				left: -1px;
				top: 0;
				height: 100%;
				border-left: 1px solid #dcc8ae;
			}
		}
	}
	.cycle-slide {
		position: static!important;
		display: none!important;
		&.cycle-sentinel {
			display: none!important;
		}
		&.cycle-slide-active {
			display: block!important;
		}
	}
}
.navigation, .navigation_next {
	text-align: right;
	margin: 0 0 20px;
	&>a {
		.fh;
		position: relative;
		display: inline-block;
		padding: 0 30px 0 0;
		font-size: 21px;
		line-height: 1.2;
		text-decoration: none;
		color: @color1;
		&:hover{
			color: @color_link;
			&:before{
				right: -16px;
			}
		}
		&:before{
			.fi;
			.transition(0.2s);
			position: absolute;
			content: '\e83c';
			right: -13px;
			top: 50%;
			font-size: 38px;
			line-height: 1;
			color: @color1;
			margin: -19px 0 0;
		}
		[class^="icon-"] {
			float: left;
			font-size: 36px;
			line-height: 1;
			margin: -6px 14px -6px 0;
			&:before{
				margin: 0;
			}
			&.icon-infocentrum {
				font-size: 47px;
				color: #009836;
				margin-top: -1px;
				margin-right: 20px;
			}
		}
		mark {
			display: block;
			margin: -12px 0 2px;
		}
	}
	small {
		.fp;
		font-size: 16px;
		display: block;
		margin: 0 0 -10px;
	}
	&.info {
		&>a {
			display: block;
			&:before{
				right: 5px;
				margin-top: -8px;
			}
		}
	}
}
.navigation.prev, .navigation_prev {
	.navigation;
	text-align: left;
	a {
		padding-right: 0;
		padding-left: 30px;
		&:hover{
			&:before{
				left: -16px;
			}
		}
		&:before{
			content: '\e83d';
			right: auto;
			left: -13px;
		}
		[class^="icon-"] {
			float: right;
			margin-right: 0;
			margin-left: 5px;
		}
	}
}
.navigation_content {
	display: table;
	width: 100%;
	margin: 0 0 20px;
	background: #efeae3;
	.inner {
		display: table-row;
	}
	[class^="icon-"] {
		display: table-cell;
		vertical-align: middle;
		width: 80px;
		padding: 0 0 0 4px;
		text-align: center;
		&:before{
			.fi;
			.border-radius(50%);
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 20px;
			text-align: center;
			color: #fff;
			background: @color5;
		}	
	}
	.content {
		display: table-cell;
		font-size: 14px;
		line-height: 1.6;
		vertical-align: middle;
		padding: 16px 20px 16px 0;
	}
	.nav {
		.fh;
		.transition(0.2s);
		position: relative;
		display: table-cell;
		vertical-align: middle;
		text-decoration: none;
		color: #fff;
		font-size: 21px;
		line-height: 1;
		padding: 0 65px 0 40px;
		background: @color_link;
		text-align: right;
		white-space: nowrap;
		&:hover{
			background: darken(@color_link,5%);
			&:before{
				right: 12px;
			}
		}
		&:before{
			.fi;
			.transition(0.2s);
			position: absolute;
			content: '\e83c';
			right: 17px;
			top: 50%;
			font-size: 38px;
			line-height: 1;
			margin: -19px 0 0;
		}
	}
}
.navigation_add {
	margin: 0 0 20px;
	a {
		display: inline-block;
		position: relative;
		padding: 0 0 0 40px;
		font-size: 14px;
		text-decoration: none;
		color: @color1;
		&:hover{
			text-decoration: underline;
			color: @color_link;
		}
		&:before{
			.border-radius(3px);
			content: '+';
			position: absolute;
			top: 50%;
			left: 0;
			width: 28px;
			height: 28px;
			line-height: 28px;
			font-size: 34px;
			margin: -14px 0 0;
			font-weight: bold;
			color: #fff;
			text-align: center;
			background: @color_link;
		}
	}
	&.right {
		text-align: right;
		a {
			padding-right: 40px;
			padding-left: 0;
			&:before{
				left: auto;
				right: 0;
			}
		}
	}
}
.pagination {
	.clearfix;
	padding: 30px 0 0;
	margin: 0 0 30px;
	border-top: 2px solid #dcc8ae;
	.pagination_info {
		float: left;
		font-size: 15px;
		margin: 6px 0;
	}
	.pagehub {
		float: right;
		text-align: right;
		margin: 0;
		padding: 0;
	}
}
.archive_items {
	.article {
		.clearfix;
		font-size: 14px;
		line-height: 1.4;
		margin: 0 0 20px;
		figure {
			width: 28%;
			float: left;
			margin: 4px 0;
			img {
				display: block;
			}
		}
		.content {
			width: 72%;
			float: left;
			padding: 0 0 0 20px;
		}
		.date {
			font-style: italic;
			color: #69553d;
			font-weight: 600;
		}
		h2, h3 {
			font-size: 20px;
			margin: 0;
			color: @color_link;
		}
		p  {
			margin: 0;
		}
	}
}
.company_items {
	.article {
		.clearfix;
		font-size: 14px;
		line-height: 1.5;
		margin: 0 0 20px;
		padding: 38px 0 0 0;
		border-top: 1px solid #dcc8ae;
		&:first-child {
			border-top: none;
			padding-top: 0;
		}
		figure {
			width: 15%;
			float: left;
			margin: 4px 0;
			img {
				display: block;
			}
		}
		.content {
			width: 85%;
			float: left;
			padding: 0 0 0 40px;
		}
		h2, h3 {
			font-size: 20px;
			margin: 0 0 13px;
			color: @color_link;
		}
		p  {
			margin: 0 0 18px;
		}
	}
}
.table_calendar {
	margin: 0 0 20px;
	table {
		width: 100%;
		border-spacing: 2px 15px;
		border-collapse: separate;
		margin: 0 0 20px;
		th {
			font-weight: normal;
			padding: 0 22px 0 0;
			vertical-align: top;
			line-height: 1.2;
		}
		td {
			.border-radius(4px);
			vertical-align: top;
			text-align: center;
			min-width: 20px;
			line-height: 17px;
			font-size: 13px;
			background: #ebdfd0;
			&.past {
				color: #fff;
				background: #948573;
			}
			&.nearest {
				color: #fff;
				background: #ff0000;
			}
			&.upcoming {
				color: #fff;
				background: #99ad00;
			}
		}
	}
	.helper {
		font-size: 12px;
		text-align: right;
		.inner {
			display: inline-block;
			text-align: left;
		}
		p {
			margin: 0 0 7px;
		}
		mark {
			.border-radius(3px);
			display: inline-block;
			color: #fff;
			width: 19px;
			line-height: 19px;
			margin: 0 10px 0 0;
			text-align: center;
			font-weight: bold;
			&.past {
				background: #948573;
			}
			&.nearest {
				background: #ff0000;
			}
			&.upcoming {
				background: #99ad00;
			}
		}
	}
}
.table_users {
	table {
		width: 100%;
		margin: 0 0 20px;
		border-bottom: 2px solid #dcc8ae;
		th,td {
			padding: 15px 10px;
			font-size: 15px;
			line-height: 1.2;
			color: #69553d;
			border-bottom: 1px solid #efeae3;
			&.icon {
				width: 40px;
				text-align: right;
				padding-left: 0;
				padding-right: 0;
				[class^="icon-"] {
					display: block;
					position: relative;
					font-size: 23px;
					line-height: 1;
					color: #000;
					margin: -3px 0;
					&:before{
						margin: 0;
					}
					&.available, &.unavailable {
						&:after{
							.fi;
							.border-radius(50%);
							position: absolute;
							content: '\e83b';
							bottom: -4px;
							right: -6px;
							width: 16px;
							height: 16px;
							line-height: 12px;
							border: 2px solid #fff;
							text-align: center;
							font-size: 9px;
							padding-left: 1px;
							color: #fff;
							background: #adc400;
						}
					}
					&.unavailable {
						&:after{
							content: '\e849';
							font-size: 6px;
							background: @color2;
						}
					}
				}
			}
			&.name {
				font-weight: 600;
				font-style: italic;
			}
			&.position {
				font-style: italic;
			}
			&.mail {
				font-style: italic;
			}
		}
		thead {
			th,td {
				padding-top: 20px;
				padding-bottom: 20px;
				font-weight: 600;
			}
		}
		tr.header {
			&:first-child {
				th,td {
					padding-top: 14px;
				}
			}
			th,td {
				padding-top: 39px;
				padding-bottom: 12px;
				border-top: 2px solid #dcc8ae;
				border-bottom: 2px solid #dcc8ae;
				h2 {
					font-size: 18px;
					margin: 0;
					color: @color_link;
				}
			}
		}
	}
}
.table_list {
	table {
		margin: 0 0 20px;
		th,td {
			font-size: 13px;
			padding: 0 0 20px 10px;
			vertical-align: top;
		}
		th {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.comment_items {
	.comment_item {
		margin: 35px 0 50px;
		.question, .answer {
			position: relative;
			padding: 35px 40px 30px;
			line-height: 1.45;
			background: #f7f4f1;
			&:before{
				content: '';
				position: absolute;
				bottom: 100%;
				right: 35px;
				border-top: 33px solid transparent;
				border-left: 40px solid #f7f4f1;
			}
		}
		.answer {
			padding-top: 25px;
			padding-bottom: 25px;
			background: #efeae3;
			&:before{
				border-left-color: #efeae3;
			}
			.meta {
				&:before{
					color: #000;
				}
			}
		}
		.meta {
			color: #69553d;
			font-size: 15px;
			line-height: 1.1;
			margin: 0 0 24px;
			font-weight: 600;
			font-style: italic;
			.name, .date {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				padding: 0 0 0 28px;
				margin: 0 20px 0 0;
				&:before{
					.fi;
					position: absolute;
					content: '\e803';
					left: 0;
					top: -3px;
					line-height: 1;
					font-size: 22px;
					font-weight: normal;
					font-style: normal;
				}
			}
			.date {
				padding-left: 35px;
				&:before{
					top: -5px;
					font-size: 26px;
					content: '\e806';
				}
			}
			.title {
				.fh;
				display: inline-block;
				vertical-align: middle;
				color: @color2;
				font-size: 18px;
				margin: 0 16px 0 0;
			}
		}
	}
}
.eshop_category {
	.clearfix;
	margin: 0 0 0 -20px;
	.eshop_item {
		display: inline-block;
		vertical-align: top;
		position: relative;
		text-align: center;
		width: 33.3333%;
		padding: 0 0 0 20px;
		margin: 0 -4px 32px 0;
		a {
			text-decoration: none;
			&:hover{
				h2,h3 {
					color: #fff;
					background: @color2;
					&:before{
						line-height: 45px;
					}
				}
			}
		}
		figure {
			line-height: 265px;
			img {
				vertical-align: middle;
				display: inline-block;
				max-height: 184px;
				max-width: 184px;
				height: auto!important;
				width: auto!important;
			}
		}
		h2,h3 {
			.transition(0.2s);
			position: relative;
			padding: 29px 10px 17px;
			margin: 0;
			font-weight: bold;
			font-size: 15px;
			text-transform: uppercase;
			color: @color2;
			background: #efeae3;
			&:before{
				.fi;
				.transition(0.2s);
				.border-radius(50%);
				content: '\e843';
				position: absolute;
				top: -34px;
				left: 50%;
				margin: 0 0 0 -25px;
				width: 50px;
				height: 50px;
				line-height: 50px;
				font-size: 26px;
				font-weight: normal;
				text-align: center;
				color: #000;
				background: #fff;
			}
		}
	}
}
.eshop_items {
	margin: 0 0 0 -20px;
	overflow: hidden;
	.eshop_item {
		position: relative;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 33.3333%;
		padding: 0 0 0 20px;
		margin: 0 -4px 20px 0;
		font-size: 15px;
		line-height: 1.5;
		&:before{
			position: absolute;
			content: '';
			top: 0;
			right: -10px;
			height: 310px;
			border-left: 1px solid #dcc8ae;
		}
		a {
			.clearfix;
			.transition(0.2s);
			display: block;
			text-decoration: none;
			color: @color1;
			padding: 0 10px;
			background: transparent;
			&:hover{
				background: #f7f4f1;
			}
		}
		figure {
			padding: 35px 0 58px;
			line-height: 184px;
			img {
				vertical-align: middle;
				display: inline-block;
				max-height: 184px;
				max-width: 184px;
				height: auto!important;
				width: auto!important;
			}
		}
		h2, h3 {
			.fp;
			color: @color2;
			font-weight: bold;
			margin: 0 0 20px;
			font-size: 16px;
		}
		p {
			margin: 0 0 18px;
		}
		.price {
			margin: 0 0 10px;
			color: @color2;
			mark {
				font-weight: bold;
				font-size: 24px;
				color: @color2;
			}
		}
	}
}
.box_info {
    position: relative;
    margin: 30px 0;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 600;
    padding: 25px 20px 25px 80px;
    background: #efeae3;
    [class^="icon-"] {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        left: 20px;
        top: 50%;
        width: 42px;
        height: 42px;
        line-height: 42px;
        margin: -21px 0 0;
        font-size: 20px;
        text-align: center;
        color: #fff;
        background: #ffc400;
    }
}
.box_map {
	position: relative;
	padding: 0 0 70%;
	height: 0;
	margin: 30px 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		border: 0;
		margin: 0;
		width: 100%;
		height: 100%;
	}
}
.calendar_header {
	position: relative;
	text-align: center;
	margin: 0 0 20px;
	border-bottom: 1px solid #dac4a8;
	.days {
		position: absolute;
		bottom: 23px;
		left: 0;
		[class^="icon-"] {
			font-size: 34px;
			margin: -4px 18px 0 0;
			display: inline-block;
			vertical-align: middle;
			&:before{
				margin: 0;
			}
		}
		.prev, .next {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 28px;
			line-height: 1;
			white-space: nowrap;
			overflow: hidden;
			text-decoration: none;
			color: @color1;
			&:hover{
				color: @color2;
			}
			&:before{
				.fi;
				content: '';
				width: 28px;
				font-size: 24px;
				text-align: center;
				display: inline-block;
			}
		}
		.prev {
			&:before{
				content: '\e851';
			}
		}
		.next {
			&:before{
				content: '\e852';
			}
		}
		.today {
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
			font-weight: 600;
			text-transform: uppercase;
			margin: 0 0 0 15px;
			color: @color1;
			&:hover{
				color: @color2;
				text-decoration: underline;
			}
		}
	}
	.months {
		.fh;
		width: 28%;
		font-size: 21px;
		padding: 25px 0 18px;
		color: @color2;
		position: relative;
		top: 1px;
		display: inline-block;
		border: 1px solid #dac4a8;
		border-bottom: none;
		background: #fff;
		.prev, .next {
			.fi;
			.transition(0.2s);
			position: absolute;
			top: 50%;
			left: -5px;
			font-size: 38px;
			line-height: 1;
			width: 46px;
			margin: -16px 0 0;
			padding: 0 0 0 2px;
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			color: @color1;
			&:hover{
				padding: 0 2px 0 0;
			}
			&:before{
				display: inline-block;
				width: 46px;
				content: '\e83d';
			}
		}
		.next {
			left: auto;
			right: 0;
			padding: 0 2px 0 0;
			&:hover{
				padding: 0 0 0 2px;
			}
			&:before{
				content: '\e83c';
			}
		}
	}
}
.calendar_table {
	margin: 35px 0;
	table {
		width: 100%;
		overflow: hidden;
		margin: 0 0 45px;
		border-bottom: 2px solid #dac4a8;
		th, td {
			position: relative;
			vertical-align: top;
			padding: 0 8px 1px;
			width: 13.75%;
			border-left: 1px solid #dac4a8;
			border-right: 1px solid #dac4a8;
			&:first-child {
				border-left: none;
				width: 3.75%;
			}
			&:last-child {
				border-right: none;
			}
		}
		thead {
			tr {
				th, td {
					padding-top: 3px;
					padding-bottom: 11px;
					border-top: none;
					text-align: center;
				}
			}
		}
		tbody {
			tr {
				th, td {
					a {
						display: block;
						color: @color1;
						text-decoration: none;
						font-size: 14px;
						padding: 14px 8px 11px;
						border-left: 6px solid #ccc;
						background: lighten(#ccc,10%);
						&:hover{
							.box-shadow(inset 0 0 200px fade(#000,5%));
						}
						&.item_01 {border-color:#9966ff;background:lighten(#9966ff,25%);}
						&.item_02 {border-color:#ff33ff;background:lighten(#ff33ff,35%);}
						&.item_03 {border-color:#33ff00;background:lighten(#33ff00,35%);}
						&.item_04 {border-color:#660099;background:lighten(#660099,60%);}
						&.item_05 {border-color:#ff6600;background:lighten(#ff6600,40%);}
						&.item_06 {border-color:#ffff00;background:lighten(#ffff00,35%);}
						&.item_07 {border-color:#000000;background:lighten(#000000,80%);}
						&.item_08 {border-color:#cc0033;background:lighten(#cc0033,50%);}
						&.item_09 {border-color:#ff99ff;background:lighten(#ff99ff,13%);}
						&.item_10 {border-color:#0000cc;background:lighten(#0000cc,52%);}
						&.item_11 {border-color:#006600;background:lighten(#006600,70%);}
						&.item_12 {border-color:#990066;background:lighten(#990066,60%);}
						&.item_13 {border-color:#66ffff;background:lighten(#66ffff,22%);}
					}
					&.other_month {
						&:before{
							content: '';
							position: absolute;
							left: 8px;
							right: 8px;
							top: 0;
							bottom: 0;
							background: #f4eee5;
						}
					}
				}
				&.last, &:last-child {
					th, td {
						padding-bottom: 6px;
						&:before{
							bottom: 6px;
						}
					}
				}
				&.head {
					th, td {
						padding-top: 7px;
						padding-bottom: 12px;
						border-top: 1px solid #dac4a8;
						&.today {
							mark {
								background: @color2;
							}
						}
						&.other_month {
							color: #dcc8ae;
							&:before{
								display: none;
							}
							mark {
								background: #dcc8ae;
							}
						}
						mark {
							.fh;
							.border-radius(50%);
							display: inline-block;
							width: 32px;
							height: 32px;
							line-height: 28px;
							font-size: 24px;
							font-weight: bold;
							text-align: center;
							color: #fff;
							background: @color5;
						}
						.week {
							position: absolute;
							top: 85px;
							left: -80px;
							width: 200px;
							height: 42px;
							text-align: right;
							font-weight: normal;
							-ms-transform: rotate(-90deg);
							-webkit-transform: rotate(-90deg);
							transform: rotate(-90deg);
							mark {
								color: @color1;
								font-weight: normal;
								background: #ebe3da;
							}
						}
					}
				}
			}
		}
	}
	.legend {
		.title {
			font-weight: bold;
			margin: 0 0 20px;
		}
		ul {
			.rul;
			li {
				.rli;
				display: inline-block;
				padding: 0 0 0 22px;
				margin: 0 10px 5px 0;
				font-size: 14px;
				&:before{
					position: absolute;
					left: 4px;
					top: 3px;
					width: 10px;
					height: 10px;
					content: '';
				}
				&.today {
					display: block;
					&:before{
						.border-radius(50%);
						width: 18px;
						height: 18px;
						top: 0;
						left: 0;
						background: @color2;
					}
				}
				&.item_01:before {background: #9966ff;}
				&.item_02:before {background: #ff33ff;}
				&.item_03:before {background: #33ff00;}
				&.item_04:before {background: #660099;}
				&.item_05:before {background: #ff6600;}
				&.item_06:before {background: #ffff00;}
				&.item_07:before {background: #000000;}
				&.item_08:before {background: #cc0033;}
				&.item_09:before {background: #ff99ff;}
				&.item_10:before {background: #0000cc;}
				&.item_11:before {background: #006600;}
				&.item_12:before {background: #990066;}
				&.item_13:before {background: #66ffff;}
			}
		}
	}
}
.nav_tabs {
	border-bottom: 1px solid #dcc8ae;
	ul {
		.rul;
		display: table;
		li {
			.rli;
			.fh;
			vertical-align: top;
			display: table-cell;
			border: 2px solid #fff;
			border-top-width: 8px;
			border-bottom: 0;
			background: #efeae3;
			&.act {
				top: 1px;
				background: #fff;
				border: 1px solid #dcc8ae;
				border-bottom: none;
				a {
					padding-top: 20px;
					color: @color2;
				}
			}
			a {
				display: block;
				line-height: 1.15;
				text-decoration: none;
				color: #000;
				padding: 14px 15px 10px 18px;
				&:hover{
					color: @color2;
				}
				&:before{
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
				}
			}
		}
	}
}
.content_panes {
	.panes {
		padding: 20px 0;
	}
}