@media (max-width: 1180px) {
	@width_container: 780px;
	.container {
		width: @width_container;
	}
	#page-header {
		.logo {
			float: none;
			width: 100%;
			padding: 25px 0px;
			background: none;
			text-align: center;
			.inner {
				border-right: 0px;
				padding-left: 0px;
			}
			img {
				display: inline-block;
			}
		}
		.h01 {
			float: none;
			width: 100%;
		}
	}
	#mod_slideshow {
		.section {
			float: left;
			width: 100%;
			.item {
				.content {
					height: auto;
					ul li {
						width: 33%;
					}
				} 
			}
		}
	}

	#mod_top-menu ul li a {
		font-size: 13px;
		padding: 0px 6px;
	}
	.home_content {
		.container {
			float: none;
		}
		.home_rightCol {
			float: none;
			width: 100%;
			.mod_panel {
				margin-bottom: 0px;
				.cnt_link {
					a {
						float: left;
						width: 49%;
						&:nth-child(2n) {
							float: right;
						}
					}
				}
			}
		}
	}
	.mtContent {
		width: 100%;
		float: none;
	}
	.home_bottomContent #mod_fotogallery, .home_bottomContent .mod_panel {
		float: none;
		width: 100%;
	}
	#mod_partner {
		 h3, ul {
			float: none;
			width: 100%;
		}
	}
	#col-left {
		float: none;
		width: 100%;
		border-top: 3px solid @color2;
		padding: 30px 0px 0px;
		ul {
			li {
				vertical-align: top;
				display: inline-block;
				width: 33.3333%;
				margin: 0 -4px 20px 0;
				ul {
					li {
						display: block;
						width: 100%;
						margin: 0;
					}
				}
			}
		}
		.qli {
			float: left;
			width: 48%;
		}
		.newsletter {
			float: right;
			width: 48%;
			&.alone {
				float: none;
				width: 100%;
			}
		}
	}
	#col-right {
		float: none;
		width: 100%;
		.lp {
			width: 360px;
		}
	}
   table.resTable.officialDesk {
		th.title {
			width: 43%;
		}
		th.display {
			width: 15%;
		}
		th.published_by {
			width: 21%;
		}
		th.published_in {
			width: 21%;
		}
	}

	.table_calendar {
		display: block;
		tr {
			display: block;
		}
		th {
			padding-left: 0;
			padding-right: 0;
			display: block;
			margin: 10px 0 0;
		}
		td {
			display: inline-block;
		}
	}

	.gall_cat {
		margin: 0 0 20px -50px;
		.gall_cat_item {
			width: 25%;
		}
	}
	.mod_structure {
		.structure_items {
			.structure_item {
				&.main {
					margin-top: 1px;
					background: #fff;
					padding-top: 120px;
					padding-left: 10px;
					& * {
						background: #fff;
					}
					.icon {
						left: 10px;
						bottom: 5px;
					}
					figure {
						top: 10px;
						left: 7%;
					}
					&.top {
						left: 60px;
						margin-top: 1px;
						background: #fff;
						padding-top: 110px;
						padding-left: 10px;
						figure {
							left: 7%;
						}
					}
				}
			}
		}
	}
	.gall_items {
		.gall_item {
			width: 33.3333%;
		}
	}
	.mod_page-company-catalogue {
		.col_left, .col_right {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		.list_icons  {
			&>ul {
				&>li {
					width: 50%;
				}
			}
		}
	}
	.mod_page-company-catalogue-category {
		.list_block {
			&>ul {
				&>li {
					width: 50%;
				}
			}
		}
	}

	.mod_page-company-catalogue-detail {
		.col_left {
			width: 33.3333%;
			margin-bottom: 30px;
		}
		.col_center {
			width: 66.6666%;
			margin-bottom: 30px;
		}
		.col_right {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		.list_contact {
			ul {
				display: inline-block;
				width: 50%;
				margin-right: -4px;
				vertical-align: top;
			}
		}
		.mod_recommend {
			.mod-title {
				width: 100%;
			}
			.list_inline_bordered {
				width: 100%;
			}
		}
	}
	.mod_page-company-catalogue-add {
		.form_control {
			width: 80%;
		}
	}
	.mod_page-chat {
		.mod_header {
			figure {
				display: block;
				margin: 0 0 20px;
			}
		}
	}
	.mod_page-form {
		.col_left, .col_right {
			width: 75%;
			padding-left: 0;
			padding-right: 0;
		}
		.form_row {
			label {
				
			}
		}
	}
	.content_panes {
		.clearfix;
		.nav_tabs {
			width: 25%;
			float: left;
			border-bottom: none;
			border-right: 1px solid #dcc8ae;
			ul {
				li {
					display: block;
					border: 0;
					margin: 0 0 5px;
					&.act {
						top: 0;
						left: 1px;
						border: 1px solid #dcc8ae;
						border-right: none;
						a {
							padding-top: 14px;
						}
					}
				}
			}
		}
		.panes {
			float: left;
			width: 75%;
			padding: 0 0 0 40px!important;
		}
	}

}
@media (max-width: 800px) {
	@width_container: 600px;
	.container {
		width: @width_container;
	}

	.top-menu {
		ul {
			li {
				padding-right: 9px;
				margin-right: 7px;
			}
			&.lang {
				float: none;
				margin-bottom: 10px;
				li {
					padding-left: 0px;
					padding-right: 10px;
				}
			}
		}
	}

	#page-header {
		.h01 {
			width: @width_container;
			text-align: center;
			.p01, .p02 {
				float: none;
				width: 480px;
				display: inline-block;
				text-align: left;
			}
			.p02 {
				margin-top: 25px;
				.lang {
					float: left;
				}
			}
		}
	}
	#mod_slideshow {
		.cycle_slider {
			float: none;
			width: 560px;
			.slide {
				width: 560px;
				height: 372px;
			}
		}
		.section {
			.item .head a {
				height: 70px;
				line-height: 70px;
				&:after {
					top: 17px;
				}
			}
		}
	}

	#mod_top-menu.responsive_menu {
		display: block;
		width: 100%;
		text-align: center;
		.a_responsive {
			display: inline-block;
			width: 100%;
			background: @color2;
			height: 80px;
			line-height: 80px;
			font-size: 30px;
			text-decoration: none;
			color: #ffffff;
			text-align: center;
			&:hover {
				background: @color3;
				color: #ffffff;
			}
			&.act {
				background: @color3;
			}
		}
		ul {
			display: none;
			background: @color2;
			/*position: absolute;*/
			z-index: 999;
			top: 80px;
			left: 0px;
			padding: 10px 20px;
			li {
				width: 100%;
				padding: 0%;
				float: none;
				a {
					display: block;
					border-right: 0px;
					height: auto;
					line-height: auto;
					font-size: 15px;
					padding: 20px;
					border-bottom: 1px solid #ffffff;
					span {
						em {
							display: inline;
						}
					}
				}
				&:last-child {
					a {
						border-bottom: 0px;
					}
				}
			}
			&:before {
				display: none;
			}
		}
		&.act {
			ul {
			  display: block;
			}
		}
	}

	.mtContent {
		width: 100%;
		float: none;
		.header {
			a {
				padding: 15px 22px;
				font-size: 18px;
				&:hover {
					background: #dad5cf;
				}
				&.act {
					padding: 20px 22px;
				}
			}
		}
	}

	.home_content {
		.home_rightCol {
			.mod_panel {
				.cnt_link {
					a {
						float: none;
						width: 100%;
						&:nth-child(2n) {
							float: none;
						}
					}
				}
			}
		}
	}
	

	#page-footer {
		.fl {
			float: none;
			width: 100%;
		}
		.fr {
			float: none;
			width: 100%;
			text-align: left;
			.right {
				display: inline-block;
				text-align: left;
			}
		}
	}
	#col-left {
		ul {
			li {
				width: 48%;
			}
		}
	}
	#col-right {
		.lp {
			float: none;
			width: 100%;
			margin-bottom: 30px;
		}
		.rp {
			float: none;
			width: 100%;
		}
	}


	.resTable,
	.resTable thead,
	.resTable tbody,
	.resTable th,
	.resTable td,
	.resTable tr {
		display: block;
	}
	.resTable thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.resTable tr {
		border-bottom: 1px solid #dcc8ae;
		border-top: 1px solid #dcc8ae;
		padding: 20px 0px;
	}
	.resTable td {
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align: left !important;
		width: 100% !important;
		padding: 30px 0px 10px !important;
		&:last-child {
			border: 0px !important;
		}
	}
	.resTable td:before {
		position: absolute;
		top: 6px;
		left: 0px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
	.resTable td:before {
		content: attr(data-title);
	}
	&.officialDesk {
		td.title {
			&:after {
				display: none;
			}
		}
	}

	.mod_navbox {
		padding-right: 20px;
		nav {
			margin: 30px -20px -17px -80px;
			a {
				width: inherit;
				position: static;
				padding-top: 15px;
				padding-bottom: 15px;
				span {
					position: relative;
				}
			}
		}
	}

	.mod_page-users {
		.col_left {
			width: 100%;
			padding: 0;
		}
		.col_right {
			width: 100%;
			padding: 0;
		}
		.user_items {
			.user_item {
				width: 100%;
			}
		}
		.helper {
			margin-left: 50%;
		}
	}

	.gall_cat {
		margin: 0 0 20px -50px;
		.gall_cat_item {
			width: 33.3333%;
		}
	}
	.mod_page-detail {
		.col_left, .col_right {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.mod_page-unions {
		.col_left, .col_right {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.mod_page-users {
		.navigation_content {
			.nav {
				white-space: normal;
			}
		}
	}
	.mod_page-contacts {
		.col_left, .col_right {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.mod_filter_category {
		.list_links {
			&>ul {
				&>li {
					width: 50%;
				}
			}
		}
	}

	.gall_items {
		.gall_item {
			width: 50%;
		}
	}

	.navigation_content {
		[class^="icon-"] {
			display: block;
			text-align: center;
			width: auto;
			padding: 10px 0 0;
		}
		.content {
			display: block;
			text-align: center;
			padding: 20px;
		}
		.nav {
			display: block;
			width: 100%!important;
			white-space: normal;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	.calendar_header {
		.days {
			position: static;
			margin-bottom: 10px;
		}
		.months {
			width: 50%;
		}
	}

	.mod_page-calendar {
		.calendar_list_items {
			.calendar_item {
				figure {
					width: 50%;
					margin: 0 50% 20px 0;
				}
				.content {
					width: 50%;
					padding-left: 0;
					padding-right: 0;
				}
				.info {
					width: 50%;
					padding-left: 40px;
				}
			}
		}
	}

	.mod_page-calendar-detail {
		.col_left, .col_right {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.mod_page-company-catalogue-add {
		.form_control {
		    width: 100%;
		}
	}
	.mod_page-eshop {
		.mod_basket {
			text-align: right;
			margin-top: -20px;
			a {
				position: static;
			}
		}
	}


	.eshop_items {
		.eshop_item {
			figure {
				img {
					max-width: 100%;
					max-height: 160px;
				}
			}
		}
	}

	.mod_page-eshop {
		.col_left, .col_right {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.mod_page-chat {
		.mod_header {
			.title, .date {
				border: 0;
				display: block;
				padding-right: 0;
				margin: 0 0 20px;
			}
		}
	}

	.mod_page-form {
		.col_left, .col_right {
			width: 100%;
		}
	}

	.mod_page-intro, .mod_page-intro-office, .mod_page-intro-institution {
		.intro {
			figure {
				width: 33.3333%;
			}
			.content {
				width: 66.6666%;
			}
		}
		.col_left, .col_right {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		.mod_infocenter  {
			figure, .content {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}


}
@media (max-width: 640px) {
	@width_container: 100%;
	.container {
		width: @width_container;
	}
	#page-header {
		.logo {
			float: none;
			width: 100%;
		}
		.h01 {
			width: 100%;
			.p01, .p02 {
				width: 100%;
			}
			.p02 {
				text-align: left;
				&:after {
					display: none;
				}
				.inner {
					width: 100%;
				}
			}
			.search {
				width: 100%;
				div {
					text-align: left;
					input {
						width: 75%;
					}
				}
			}
		}
	}
	#mod_slideshow {
		.cycle_slider {
			display: none;
		}
		.section {
			float: left;
			width: 100%;
			.item {
				.content {
					height: auto;
					ul li {
						width: 50%;
					}
				}
			}
		}
	}
	.mtContent {
		.header {
			a {
				display: block;
				text-align: center;
				padding: 20px 0px;
				margin: 5px 0px;
				border: 1px solid #dcc8ae ;
				&:hover {
					background: #dad5cf;
					padding: 20px 0px;
				}
				&.act {
					padding: 20px 0px;
					border: 1px solid #dcc8ae ;
					bottom: -5px;
				}
			}
		}
	}
	#col-left {
		ul {
			li {
				float: none;
				width: 100%
			}
		}
		.qli {
			float: none;
			width: 100%;
		}
		.newsletter {
			float: none;
			width: 100%
		}
	}

	.mod_chatnav {
		padding-right: 20px;
		nav {
			margin: 20px -20px -17px -80px;
			a {
				position: relative;
				width: inherit;
				padding-top: 10px;
				padding-bottom: 10px;
				span {
					position: static;
				}
			}
		}
	}

	.mod_page-unions {
		.col_left {
			width: 100%;
			padding: 0;
		}
		.col_right {
			width: 100%;
			padding: 0;
		}
	}

	.mod_page-user-detail {
		.col_left {
			width: 100%;
			padding: 0;
		}
		.col_right {
			width: 100%;
			padding: 0;
		}
		.image_circle {
			margin: 20px 20%;
		}
	}

	.mod_page-users {
		.helper {
			margin-left: 0;
		}
	}

	.gall_cat {
		margin: 0 0 20px -50px;
		.gall_cat_item {
			width: 50%;
		}
	}
	.pagination {
		.pagination_info {
			float: none;
			text-align: center;
			margin-bottom: 20px;
		}
		.pagehub {
			float: none;
			text-align: center;
		}
	}
	.mod_page-detail {
		address {
			margin-bottom: 40px;
			figure, .content {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.mod_page-unions {
		.mod_contact .bottom {
			table {
				display: block;
				th, td {
					display: block;
				}
				th {
					font-weight: bold;
				}
				td {
					margin-bottom: 10px;
				}
			}
		}
	}
	.mod_openhours {
		table.hours {
			display: block;
			tbody, thead, tr {
				display: block;
			}
			th {
				&:after{
					margin: 10px 0!important;
				}
			}
			th, td {
				display: block;
				padding-left: 0!important;
				padding-right: 0!important;
			}
		}
	}

	.navigation, .navigation_next {
		&>a {
			[class^="icon-"] {
				display: none;
			}
		}
	}

	.mod_page-users {
		.user_items {
			.user_item {
				figure, .content {
					width: 100%;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}

	.mod_page-contacts {
		.mod_openhours {
			.table_list {
				th,td {
					display: block;
					padding-left: 0;
					padding-right: 0;
				}
				td {
					margin-bottom: 10px;
				}
				th {
					font-weight: bold!important;
				}
			}
		}
	}

	.mod_filter_category .list_links {
		&>ul {
			&>li {
				width: 100%;
			}
		}
	}

	.mod_filter_category {
		.toggle {
			margin-top: 0;
		}
	}

	.table_users {
		thead {
			display: none;
		}
		tr {
			display: block;
			margin: 0 0 20px;
		}
		th, td {
			display: block;
			padding: 10px 0!important;
			width: 100%!important;
		}
	}

	.gall_cat {
		.gall_cat_item {
			width: 100%;
		}
	}

	.gall_items {
		.gall_item {
			width: 100%;
			margin: 0 0 20px;
			&:before{
				display: none;
			}
			a {
				position: static;
				display: block;
				img {
					max-width: 100%;
					max-height: none;
				}
			}
		}
	}

	.mod_page-calendar {
		.selector {
			margin: 0 0 20px;
			width: 100%;
			select {
				padding: 0 15px;
				border: 1px solid #a7a7a7;
			}
		}
	}

	.search_header {
		.search {
			float: none;
			input[type="text"] {
				width: 100%;
			}
			button {
				.btn;
				margin: 10px 0;
				width: 100%;
			}
		}
		.switcher {
			float: none;
			padding: 20px 0;
			ul {
				li {
					display: block;
					float: none;
					text-align: right;
					margin: 0 0 20px;
				}
			}
		}
	}

	.calendar_header {
		.months {
			width: 95%;
		}
	}

	.mod_page-calendar {
		.calendar_list_items {
			.calendar_item {
				figure, .content, .info {
					width: 100%;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	
	.mod_page-company-catalogue {
		.list_icons {
			&>ul {
				&>li {
					width: 100%;
				}
			}
		}
	}

	.mod_page-company-catalogue-category {
		.list_icons, .list_block {
			&>ul {
				&>li {
					width: 100%;
				}
			}
		}
	}

	.company_items {
		.article {
			figure, .content, .list_contact_inline {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
			figure {
				padding: 0 50% 20px 0;
			}
		}
	}

	.mod_page-company-catalogue-detail {
		.col_left, .col_center, .col_right {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		.list_contact {
			ul {
				margin: 0;
				width: 100%;
			}
		}
	}

	.gallery {
		ul {
			li {
				img {
					max-width: 100%;
					max-height: none;
				}
			}
		}
	}

	.mod_page-company-catalogue-add {
		.form_control {
			label, .content {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 10px;
			}
		}
	}

	.eshop_category {
		.eshop_item {
			width: 100%;
		}
	}

	.eshop_items {
		.eshop_item {
			width: 100%;
		}
	}

	.mod_page-chat {
		.intro {
			figure, .content {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 20px;
			}
		}
	}

	.mod_page-form {
		.form_row {
			label, .content {
				width: 100%;
				padding-right: 0;
				padding-left: 0;
				margin-bottom: 10px;
			}
		}
	}

	.mod_page-intro, .mod_page-intro-office, .mod_page-intro-institution {
		.intro {
			figure, .content {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 20px;
			}
		}
		.mod_openhours {
			.openhours {
				table {
					thead, tbody {
						width: 100%;
						padding: 0;
						margin: 0 0 20px;
						th,td {
							display: block;
							padding-left: 0;
							padding-right: 0;
						}
						td {
							margin-bottom: 10px;
						}
						th {
							font-weight: bold!important;
						}
					}
				}
			}
		}
		.mod_unions {
			.list_links {
				ul {
					width: 100%;
				}
			}
		}
	}

	.content_panes {
		.clearfix;
		.nav_tabs {
			width: 100%;
			margin: 0 0 20px;
			border: 0;
			ul {
				display: block;
				li {
					margin: 0 0 5px;
					&.act {
						border: 1px solid #dcc8ae;
					}
				}
			}
		}
		.panes {
			width: 100%;
			padding: 0!important;
		}
	}

}

@media (max-width: 440px) {
	#mod_slideshow {
		.section {
			.item {
				.content {
					ul li {
						float: none;
						width: 100%;
					}
				}
			}
		}
	}
	#mod_newsletter input {
		width: 75%;
	}
}
@media (max-width: 380px) {
	#mod_slideshow {
		.section {
			.item {
				.head a::after {
					display: none;
				}
				.content {
					ul li {
						float: none;
						width: 100%;
					}
				}
			}
		}
	}
	#mod_news .item .thumb {
		display: block;
		float: none;
		margin: 0px 30px 0px 0px;
	}
}
