html,body,button,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	text-align: left;
	font-weight: normal;
	color: @color1;
	background: @bb;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3 {
	margin: 0 0 10px;
	line-height: @lhh;
	font-weight: 700;
	color: @color3;
}
h1 {
	.fh;
	font-size: @fsh1;
	line-height: @lh1;
	margin: 0px 0px 30px;
	line-height: 1.2em;
}
.h1 {
	display: block;
	position: relative;
	margin: 0px 0px 30px;
	h1 {
		position: relative;
		background: #ffffff;
		display: inline-block;
		padding: 0px 20px 0px 0px;
		margin: 0px 0px 0px;
		z-index: 1;
	}
	.icon {
		display: inline-block;
		padding-left: 20px;
		margin-right: -4px;
		&.ic {
			width: 72px;
			height: 72px;
			background: #ffffff url('../images/bg/ic.png') no-repeat left center;
			position: relative;
			z-index: 1;
			top: 4px;
		}
		&.policie {
			width: 85px;
			height: 97px;
			background: #ffffff url('../images/bg/policie.png') no-repeat left center;
			position: relative;
			z-index: 1;
			top: 15px;
		}
	}
	&:after {
		content: '';
		position: absolute;
		height: 9px;
		background: #dcc8ae;
		bottom: 8px;
		right: 0px;
		width: 100%;
	}

}
h2{
	.fh;
	font-size: @fsh2;
}
h2 a {
	color: @color2;
}
h3,.h3 {
	.fh;
	font-size: @fsh3;
}
h4{
	.fh;
	font-size: @fsh4;
}
h5{
	font-size: @fsh5;
}
h6{
	font-size: @fsh6;
}
p{
	margin: 0 0 20px;
}
ul,ol{
	padding: 0;
	margin: 0 0 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 16px;
	margin: 0;
	&:before{
		.fi;
		position: absolute;
		top: 2px;
		left: 0;
		font-size: 13px;
		line-height: 1;
		content: '\e80f';
	}
	&>ul{
		padding: 10px 0;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin: 0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	clear: both;
	margin: 0px 0px 20px;
	display: block;
	border: 0px ;
	border-bottom: 1px solid @color4;
	height: 0px;
	width: 100%;
	width: 100%;

}
strong,b{
	font-weight: bold;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @color_link;
	cursor: pointer;
	outline: none;
	&:hover{
		text-decoration:none;
	}
	&:focus{
		outline: none;
	}
}

// form
input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
select {
	.rin;
	.transition(0.2s);
	.border-radius(0px);
	position: relative;
	border: 1px solid #a7a7a7;
	font-size: 14px;
	width: 100%;
	height: 42px;
	padding: 8px 17px;
	color: @color1;
	background: #fff;
	outline: 0;
	max-width: 100%;
	&:hover,&:focus{
		border-color: @color1;
	}
}
textarea{
	height: auto;
}
select[multiple] {
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
}
input[type=submit],
input[type=button],
input[type=reset],
button {
	.btn;
}