.rul{
	margin: 0;
	padding: 0;
}
.rli{
	margin: 0;
	padding: 0;
	background: none;
	&:before{
		content: '';
	}
}
.rin{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
}
.input_format {
	.rin;
	.transition(0.2s);
	position: relative;
    border: 1px solid #a7a7a7;
	font-size: @fsp;
	margin: 0 3px 5px 0;
	width: 255px;
	height: 40px;
	padding: 0px 10px;
	color: @color1;
	background: #fff;
	outline: 0;
	max-width: 100%;
	&:hover,&:focus{
		background: darken(#fff,3%);
	}
}

.select_format {
	.rin;
	.transition(0.2s);position: relative;
    border: 1px solid #a7a7a7;
	font-size: @fsp;
	margin: 0 3px 5px 0;
	width: 255px;
	height: 40px;
	padding: 0px 10px;
	color: @color1;
	background: #fff;
	outline: 0;
	max-width: 100%;
}