nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		line-height: 39px !important;
		&:after{
			.fi;
			position: relative;
			content: '\e80f';
			margin: 0 0 0 10px;
			top: 1px;
			font-size: 20px;
		}
	}
}
a.more {
	display: block;
	padding-left: 15px;
	position: relative;
	margin-top: 5px;
	font-size: 13px;
	line-height: 40px;
	text-transform: uppercase;
	&:before {
		content: '';
		display: block;
		width: 9px;
		height: 14px;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	background: lighten(@color_tab2,40%);
	color: @color1;
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@color_tab1,100%);
		font-weight:normal;
		a{
			color: @color1;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@color_tab2,50%);
	}
	th,thead td{
		font-weight: bold;
		color: #ffffff;
		background: lighten(@color_tab1,0%)!important;
		a{
			color: #ffffff;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	tfoot td{
		background: lighten(@color_tab1,0%)!important;
		color: #ffffff;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:20px 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input[type=text],input[type=number],input[type=email],input[type=password],textarea,select{
		.select_format;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	textarea{
		padding:10px;
		width:auto;
		height:auto;
	}
	select{
		width:auto;
		height:auto;
		padding: 6px 10px;
	}
	.fileinputs{
		.clearfix;
		position:relative;
		overflow:hidden;
		display:inline-block;
		cursor:pointer;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: pointer;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.input-file-text{
			border-right: 0;
			float: left;
			margin-right: 0;
			padding-right: 0;
		}
		.normal-button{
			float: left;
			height: 42px;
			line-height: 42px;
		}
	}
	.normal-button{
		.btn;
		padding: 0px 20px;
		height: 42px;
		line-height: 42px;
	}
	a.normal-button{
		display:inline-block;
		text-decoration:none;
		line-height: 42px;
	}
	.fileinputs:hover .normal-button{
		background: @color3;
	}
}
.search-results .highlight,.results .highlight{
	background: @color2;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	text-align: center;
	padding: 20px 0;
	a,span{
		.border-radius(50%);
		.transition(0.2s);
		display: inline-block;
		width: 34px;
		height: 34px;
		line-height: 32px;
		margin: 0 0.11em;
		color: #69553d;
		text-align: center;
		text-decoration: none;
		overflow: hidden;
		white-space: nowrap;
		border: 1px solid #69553d;
		&:hover{
			color: #fff;
			background: #69553d;
		}
		&:nth-child(1), &:nth-child(2), &:nth-last-child(1), &:nth-last-child(2) {
			&.pagenav-ico {
				line-height: 26px;
				border-width: 4px;
				&:before{
					.fi;
					width: 26px;
					height: 26px;
					display: inline-block;
					font-size: 20px;
				}
			}
		}
		&:nth-child(1) {
			&.pagenav-ico {
				&:before{
					content: '\e82c\e82c';
					letter-spacing: -0.1em;
					padding-right: 4px;
				}
			}
		}
		&:nth-child(2) {
			&.pagenav-ico {
				&:before{
					content: '\e81c';
				}
			}
		}
		&:nth-last-child(1) {
			&.pagenav-ico {
				&:before{
					content: '\e82d\e82d';
					letter-spacing: -0.1em;
				}
			}
		}
		&:nth-last-child(2) {
			&.pagenav-ico {
				&:before{
					content: '\e81b';
				}
			}
		}
	}
	span.pagenav{
		color: #fff;
		background: #69553d;
		cursor: default;
	}
	span.pagenav-ico{
		cursor: default;
		border-color: lighten(#69553d,50%);
		color: lighten(#69553d,50%);
		&:hover{
			background: none;
		}
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 0px 0px 20px;
	display: block;
	border-bottom: 1px solid @color4;
	height: 0px;
	width: 100%;
}
img.img-left,img[align=left]{
	float: left;
	margin: 4px 40px 20px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 4px 0 20px 40px;
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 2px;
}
a.xeditorpopup:hover img{
	background: @color_hover;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 20px 0;
		color: #fff;
		background: lighten(@color1,20%);
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @color1;
	}
	.warning,.error{
		background: @warning;
	}
}
.icon-rotate {
	.rotate(180deg);
}
