@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?72211492');
  src: url('../font/fontello.eot?72211492#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?72211492') format('woff'),
       url('../font/fontello.ttf?72211492') format('truetype'),
       url('../font/fontello.svg?72211492#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?72211492#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-flash:before { content: '\e804'; } /* '' */
.icon-database-1:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-address:before { content: '\e807'; } /* '' */
.icon-mouse:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-export:before { content: '\e80a'; } /* '' */
.icon-popup:before { content: '\e80b'; } /* '' */
.icon-down-open:before { content: '\e80c'; } /* '' */
.icon-left-open:before { content: '\e80d'; } /* '' */
.icon-up-open:before { content: '\e80e'; } /* '' */
.icon-right-open:before { content: '\e80f'; } /* '' */
.icon-menu:before { content: '\e810'; } /* '' */
.icon-publish:before { content: '\e811'; } /* '' */
.icon-rss:before { content: '\e812'; } /* '' */
.icon-flag:before { content: '\e813'; } /* '' */
.icon-direction:before { content: '\e814'; } /* '' */
.icon-paper-plane:before { content: '\e815'; } /* '' */
.icon-down-circled:before { content: '\e816'; } /* '' */
.icon-left-circled:before { content: '\e817'; } /* '' */
.icon-right-circled:before { content: '\e818'; } /* '' */
.icon-up-circled:before { content: '\e819'; } /* '' */
.icon-back-in-time:before { content: '\e81a'; } /* '' */
.icon-right:before { content: '\e81b'; } /* '' */
.icon-left:before { content: '\e81c'; } /* '' */
.icon-fast-forward:before { content: '\e81d'; } /* '' */
.icon-fast-backward:before { content: '\e81e'; } /* '' */
.icon-location:before { content: '\e81f'; } /* '' */
.icon-info:before { content: '\e820'; } /* '' */
.icon-print:before { content: '\e821'; } /* '' */
.icon-vcard:before { content: '\e822'; } /* '' */
.icon-compass:before { content: '\e823'; } /* '' */
.icon-phone:before { content: '\e824'; } /* '' */
.icon-feather:before { content: '\e825'; } /* '' */
.icon-chat:before { content: '\e826'; } /* '' */
.icon-doc-text-inv:before { content: '\e827'; } /* '' */
.icon-user-add:before { content: '\e828'; } /* '' */
.icon-folder-open:before { content: '\e829'; } /* '' */
.icon-plus-circled:before { content: '\e82a'; } /* '' */
.icon-minus-circled:before { content: '\e82b'; } /* '' */
.icon-left-dir:before { content: '\e82c'; } /* '' */
.icon-right-dir:before { content: '\e82d'; } /* '' */
.icon-car:before { content: '\e82e'; } /* '' */
.icon-mobile:before { content: '\e82f'; } /* '' */
.icon-tablet:before { content: '\e830'; } /* '' */
.icon-basket:before { content: '\e831'; } /* '' */
.icon-home:before { content: '\e832'; } /* '' */
.icon-suitcase:before { content: '\e833'; } /* '' */
.icon-tools:before { content: '\e834'; } /* '' */
.icon-cog:before { content: '\e835'; } /* '' */
.icon-glass:before { content: '\e836'; } /* '' */
.icon-cc-by:before { content: '\e837'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e838'; } /* '' */
.icon-hospital:before { content: '\e839'; } /* '' */
.icon-paragraph:before { content: '\e83a'; } /* '' */
.icon-check:before { content: '\e83b'; } /* '' */
.icon-arr-right:before { content: '\e83c'; } /* '' */
.icon-arr-left:before { content: '\e83d'; } /* '' */
.icon-flow-cascade:before { content: '\e83e'; } /* '' */
.icon-flow-tree:before { content: '\e83f'; } /* '' */
.icon-down-open-big:before { content: '\e840'; } /* '' */
.icon-left-open-big:before { content: '\e841'; } /* '' */
.icon-right-open-big:before { content: '\e842'; } /* '' */
.icon-up-open-big:before { content: '\e843'; } /* '' */
.icon-infocentrum:before { content: '\e844'; } /* '' */
.icon-dot-3:before { content: '\e845'; } /* '' */
.icon-ccw:before { content: '\e846'; } /* '' */
.icon-cw:before { content: '\e847'; } /* '' */
.icon-arrows-ccw:before { content: '\e848'; } /* '' */
.icon-minus:before { content: '\e849'; } /* '' */
.icon-list-add:before { content: '\e84a'; } /* '' */
.icon-attention:before { content: '\e84b'; } /* '' */
.icon-docs:before { content: '\e84c'; } /* '' */
.icon-layout:before { content: '\e84d'; } /* '' */
.icon-list:before { content: '\e84e'; } /* '' */
.icon-mask:before { content: '\e84f'; } /* '' */
.icon-down-circled-1:before { content: '\e850'; } /* '' */
.icon-left-circled-1:before { content: '\e851'; } /* '' */
.icon-right-circled-1:before { content: '\e852'; } /* '' */
.icon-up-circled-1:before { content: '\e853'; } /* '' */
.icon-heart:before { content: '\e854'; } /* '' */
.icon-pencil:before { content: '\e855'; } /* '' */
.icon-lifebuoy:before { content: '\e856'; } /* '' */
.icon-swimming:before { content: '\e857'; } /* '' */
.icon-footprints:before { content: '\e858'; } /* '' */
.icon-award:before { content: '\e859'; } /* '' */