
.icon-search:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-flash:before { content: '\e804'; } /* '' */
.icon-database-1:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-address:before { content: '\e807'; } /* '' */
.icon-mouse:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-export:before { content: '\e80a'; } /* '' */
.icon-popup:before { content: '\e80b'; } /* '' */
.icon-down-open:before { content: '\e80c'; } /* '' */
.icon-left-open:before { content: '\e80d'; } /* '' */
.icon-up-open:before { content: '\e80e'; } /* '' */
.icon-right-open:before { content: '\e80f'; } /* '' */
.icon-menu:before { content: '\e810'; } /* '' */
.icon-publish:before { content: '\e811'; } /* '' */
.icon-rss:before { content: '\e812'; } /* '' */
.icon-flag:before { content: '\e813'; } /* '' */
.icon-direction:before { content: '\e814'; } /* '' */
.icon-paper-plane:before { content: '\e815'; } /* '' */
.icon-down-circled:before { content: '\e816'; } /* '' */
.icon-left-circled:before { content: '\e817'; } /* '' */
.icon-right-circled:before { content: '\e818'; } /* '' */
.icon-up-circled:before { content: '\e819'; } /* '' */
.icon-back-in-time:before { content: '\e81a'; } /* '' */
.icon-right:before { content: '\e81b'; } /* '' */
.icon-left:before { content: '\e81c'; } /* '' */
.icon-fast-forward:before { content: '\e81d'; } /* '' */
.icon-fast-backward:before { content: '\e81e'; } /* '' */
.icon-location:before { content: '\e81f'; } /* '' */
.icon-info:before { content: '\e820'; } /* '' */
.icon-print:before { content: '\e821'; } /* '' */
.icon-vcard:before { content: '\e822'; } /* '' */
.icon-compass:before { content: '\e823'; } /* '' */
.icon-phone:before { content: '\e824'; } /* '' */
.icon-feather:before { content: '\e825'; } /* '' */
.icon-chat:before { content: '\e826'; } /* '' */
.icon-doc-text-inv:before { content: '\e827'; } /* '' */
.icon-user-add:before { content: '\e828'; } /* '' */
.icon-folder-open:before { content: '\e829'; } /* '' */
.icon-plus-circled:before { content: '\e82a'; } /* '' */
.icon-minus-circled:before { content: '\e82b'; } /* '' */
.icon-left-dir:before { content: '\e82c'; } /* '' */
.icon-right-dir:before { content: '\e82d'; } /* '' */
.icon-car:before { content: '\e82e'; } /* '' */
.icon-mobile:before { content: '\e82f'; } /* '' */
.icon-tablet:before { content: '\e830'; } /* '' */
.icon-basket:before { content: '\e831'; } /* '' */
.icon-home:before { content: '\e832'; } /* '' */
.icon-suitcase:before { content: '\e833'; } /* '' */
.icon-tools:before { content: '\e834'; } /* '' */
.icon-cog:before { content: '\e835'; } /* '' */
.icon-glass:before { content: '\e836'; } /* '' */
.icon-cc-by:before { content: '\e837'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e838'; } /* '' */
.icon-hospital:before { content: '\e839'; } /* '' */
.icon-paragraph:before { content: '\e83a'; } /* '' */
.icon-check:before { content: '\e83b'; } /* '' */
.icon-arr-right:before { content: '\e83c'; } /* '' */
.icon-arr-left:before { content: '\e83d'; } /* '' */
.icon-flow-cascade:before { content: '\e83e'; } /* '' */
.icon-flow-tree:before { content: '\e83f'; } /* '' */
.icon-down-open-big:before { content: '\e840'; } /* '' */
.icon-left-open-big:before { content: '\e841'; } /* '' */
.icon-right-open-big:before { content: '\e842'; } /* '' */
.icon-up-open-big:before { content: '\e843'; } /* '' */
.icon-infocentrum:before { content: '\e844'; } /* '' */
.icon-dot-3:before { content: '\e845'; } /* '' */
.icon-ccw:before { content: '\e846'; } /* '' */
.icon-cw:before { content: '\e847'; } /* '' */
.icon-arrows-ccw:before { content: '\e848'; } /* '' */
.icon-minus:before { content: '\e849'; } /* '' */
.icon-list-add:before { content: '\e84a'; } /* '' */
.icon-attention:before { content: '\e84b'; } /* '' */
.icon-docs:before { content: '\e84c'; } /* '' */
.icon-layout:before { content: '\e84d'; } /* '' */
.icon-list:before { content: '\e84e'; } /* '' */
.icon-mask:before { content: '\e84f'; } /* '' */
.icon-down-circled-1:before { content: '\e850'; } /* '' */
.icon-left-circled-1:before { content: '\e851'; } /* '' */
.icon-right-circled-1:before { content: '\e852'; } /* '' */
.icon-up-circled-1:before { content: '\e853'; } /* '' */
.icon-heart:before { content: '\e854'; } /* '' */
.icon-pencil:before { content: '\e855'; } /* '' */
.icon-lifebuoy:before { content: '\e856'; } /* '' */
.icon-swimming:before { content: '\e857'; } /* '' */
.icon-footprints:before { content: '\e858'; } /* '' */
.icon-award:before { content: '\e859'; } /* '' */